/// Mixin to prefix a property
/// @author Hugo Giraudel
/// @param {String} $property - Property name
/// @param {*} $value - Property value
/// @param {List} $prefixes (()) - List of prefixes to print
@mixin prefix($property, $value, $prefixes: ()) {
  @each $prefix in $prefixes {
    #{'-' + $prefix + '-' + $property}: $value;
  }

  // Output standard non-prefixed declaration
  #{$property}: $value;
}

@mixin lg-grid($sm-padding: true, $custom: false) {
  margin-left: auto;
  margin-right: auto;
  @if $custom == false {
    max-width: $max-width;
  } @else {
    max-width: $max-width-custom;
  }

  @if $sm-padding {
    padding-left: $container-spacing-sm;
    padding-right: $container-spacing-sm;

    @include at-media("desktop") {
      padding-left: $container-spacing;
      padding-right: $container-spacing;
    }
  }
}
