{
  "root": true,
  "extends": ["plugin:@18f/eslint-plugin-identity/recommended"],
  "plugins": ["@18f/eslint-plugin-identity"],
  "env": {
    "browser": true,
    "jest": true
  },
  "parserOptions": {
    "ecmaVersion": 2021,
    "sourceType": "module"
  },
  "rules": {
    // ESLint currently unable to resolve this without resolver plugins
    // that break other imports
    // See: https://github.com/import-js/eslint-plugin-import/issues/1810
    "import/no-unresolved": ["error", { "ignore": ["@18f/identity-address-search"] }]
  }
}
