assets/js/build/bundle.js
assets/stylesheets/build/main.css
assets/stylesheets/main.css
assets/stylesheets/main.css.map
_site/
.sass-cache/
node_modules/
.jekyll-metadata
.python-version
*.log
*.swp
.idea/
.DS_Store
.jekyll-cache
.snyk
