# Site settings
title: Login.gov
image: /assets/img/login-gov-288x288.png
canonical_domain: www.login.gov

# i18n
languages:
  - en
  - es
  - fr

exclude_from_localizations: ['javascript', 'images', 'css']

# Contact form production values (overridden in Cloud.gov Pages for preview branches)
contact_form_captcha_enabled: true
contact_form_action: 'https://webto.salesforce.com/servlet/servlet.WebToCase?encoding=UTF-8'
contact_form_orgid: '00DU0000000Leux'

# Contact page phone number enabled (overridden in Cloud.gov Pages)
contact_phone_number_enabled: false
contact_phone_number: ''

# Contact page maintenance window
contact_maintenance_start_time: null
contact_maintenance_end_time: null
contact_maintenance_phone_available: true

# Unplanned outage configuration
contact_unplanned_outage: false
contact_unplanned_outage_phone_available: false

# GSA Office of Strategic Communication (OSC) Google Analytics
osc_analytics_ga_measurement_id: null

# Used to load country code support
idp_base_url: https://secure.login.gov
# for local development:
# idp_base_url: http://localhost:3000

# Pages
collections_dir: content
collections:
  help:
    output: true
    permalink: /:collection/:path/
  landing:
    output: true
    permalink: /:collection/:path/
  developers:
    output: true
    permalink: /:collection/:path/
  partners:
    output: true
    permalink: /:collection/:path/
  partners_impact_stories:
    output: true
    permalink: /:collection/:path/
  policy:
    output: true
    permalink: /:collection/:path/

# Scripts
scripts:
  - /assets/js/main.js

# Styles
styles:
  - /assets/css/main.css

# Build settings
kramdown:
  hard_wrap: true

# Defaults
defaults:
  - scope:
      path: 'content/_help/**/*'
    values:
      layout: help
  - scope:
      path: 'content/_policy/*'
    values:
      layout: sidenav
  - scope:
      path: 'content/_landing/*'
    values:
      layout: landing
  - scope:
      path: 'content/**/*/*._en.md'
    values:
      lang: en
  - scope:
      path: 'content/**/*/*._es.md'
    values:
      lang: es
  - scope:
      path: 'content/**/*/*._fr.md'
    values:
      lang: fr

include:
  # dotfiles are excluded by default
  - .well-known
  - docs/accessibility-assessment-ial1-account-creation.pdf
  - docs/identity-verification-report.docx
  - docs/identity-verification-report.pdf
  - docs/login-gov-roadmap-november-2023.pdf

exclude:
  - babel.config.json
  - CONTRIBUTING.md
  - docs
  - Gemfile*
  - jest.config.js
  - LICENSE.md
  - SECURITY.md
  - Makefile*
  - assets/scss
  - assets/js
  - node_modules
  - OLD_URLS.yml
  - package-lock.json
  - package.json
  - README.md
  - scripts
  - spec
  - svgo.config.js
  - tsconfig.json
  - vendor
  - webpack.config.js
keep_files:
  - assets/css
  - assets/js

plugins:
  - jekyll-redirect-from
  - jekyll-sitemap

default_locale: en

redirect_from:
  json: false

help_pages:
  - get-started
  - trouble-signing-in
  - manage-your-account
  - verify-your-identity
  - specific-agencies

url: https://www.login.gov

po_search_address_search_url: https://idp.dev.identitysandbox.gov/api/address_search
po_search_locations_search_url: https://idp.dev.identitysandbox.gov/api/usps_locations
skip_idp_translations: true
idp_manifest_path: /packs/manifest.json
