<main id="main-content">
  <section>
    <div class="container partners-container">
      <div class="grid-row">
        <div class="tablet:grid-col-9 accordion-container">
          <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/shell.js"></script>
          <script>
            hbspt.forms.create({
              region: "na1",
              portalId: "5531666",
              formId: "e83228a3-efab-4d4d-b16c-d5b531286406"
            });
          </script>
        </div>
        <div class="tablet:grid-col-3 search-container">
          <div>
            {% include search.html size="small" id="header-nav" %}
          </div>
          <section>
            <nav class="margin-left-5 margin-top-5" aria-label="Secondary navigation,">
              <ul class="usa-sidenav">
                <li class="usa-sidenav__item">
                  <a href="{{ '/partners/faq/' | locale_url }}">FAQs</a>
                </li>
                <li class="usa-sidenav__item">
                  <a href="#main-content" class="usa-current">Contact Us</a>
                </li>
              </ul>
            </nav>
          </section>
        </div>
      </div>
    </div>
  </section>
</main>
