<section class="login-developers-links">
  <div class="container">
    <div class="grid-col display-flex flex-justify-end flex-align-center">
      <a class="usa-nav__link usa-link" href="{{site.baseurl}}/"> Login.gov </a>
      <span class="links-separator">&#124;</span>
      <a class="usa-nav__link usa-link" href="https://developers.login.gov">
        Developers.login.gov
      </a>
    </div>
  </div>
</section>

<div class="usa-header usa-header--extended">
  <div class="usa-nav-container">
    <div class="usa-navbar margin-bottom-3">
      <div class="usa-logo partners-logo" id="extended-logo">
        <a href="{{ '/partners/' | prepend: site.baseurl }}" aria-label="Home">
          <img
            src="{{ site.baseurl }}/assets/img/partners/partners_logo.svg"
            class="usa-logo__img partners-logo__img padding-right-2"
            alt="{{ site.data.[page.lang].settings.accessible_labels.partners_link_logo }}"
          />
        </a>
      </div>

      <div class="display-none desktop:display-block">{% include search.html id="desktop" collection="8803" %}</div>

      <button class="usa-menu-btn">Menu</button>
    </div>

    <nav class="usa-nav" aria-label="{{ site.data.[page.lang].settings.accessible_labels.primary_navigation }}">
      <div class="usa-nav__inner">
        <button class="usa-nav__close">
          <img src="{{ site.baseurl }}/assets/img/close.svg" alt="Close" />
        </button>

        <ul class="usa-nav__primary usa-accordion">
          <li class="usa-nav__primary-item">
            <a
              class="usa-nav__link {% if page.url contains '/our-services' %}usa-current{% endif %}"
              href="{{ '/partners/our-services/' | locale_url }}"
            >
              Our services
            </a>
          </li>
          <li class="usa-nav__primary-item">
            <a
              class="usa-nav__link {% if page.url contains '/roadmap' %}usa-current{% endif %}"
              href="{{ '/partners/roadmap/' | locale_url }}"
            >
              Roadmap
            </a>
          </li>
          <li class="usa-nav__primary-item">
            <a
              class="usa-nav__link {% if page.url contains '/impact-stories' %}usa-current{% endif %}"
              href="{{ '/partners/impact-stories/' | locale_url }}"
            >
              Impact stories
            </a>
          </li>
          <li class="usa-nav__primary-item">
            <a
              class="usa-nav__link {% if page.url contains '/security-experience' %}usa-current{% endif %}"
              href="{{ '/partners/security-experience/' | locale_url }}"
            >
              Security experience
            </a>
          </li>
          <li class="usa-nav__primary-item">
            <a
              class="usa-nav__link {% if page.url contains '/program-updates' %}usa-current{% endif %}"
              href="{{ '/partners/program-updates/' | locale_url }}"
            >
              Program updates
            </a>
          </li>
          <li class="usa-nav__primary-item">
            <a
              class="usa-nav__link {% if page.url contains '/faq' %}usa-current{% endif %}"
              href="{{ '/partners/faq/' | locale_url }}"
            >
              FAQ
            </a>
          </li>
        </ul>

        <div class="partners-actions">
          <a
            class="{{include.mobile}} usa-button usa-button--outline {% if page.url contains '/state-and-local' %}partners-usa-button--active{% endif %}"
            href="{{ site.baseurl }}/partners/state-and-local/"
            >State and local</a
          >
          <a
            class="{{include.mobile}} usa-button {% if page.url contains '/get-started' %}usa-button--active{% endif %}"
            href="{{ site.baseurl }}/partners/get-started/"
            >Get started</a
          >
        </div>

        <a
          class="usa-link display-block desktop:display-none padding-y-1 margin-y-3 text-no-underline text-bold"
          href="{{ site.baseurl }}/partners/business-inquiries/"
        >
          {{ site.data.[page.lang].settings.nav.business_inquiries.title }}
        </a>

        <div class="desktop:display-none">{% include search.html id="mobile" collection="8803" %}</div>
      </div>
    </nav>
  </div>
</div>
<div class="usa-overlay"></div>
