<aside class="partners-banner">
  <div class="partners-banner__backdrop">
    <div class="partners-banner__content">
      <header class="partners-banner__tagline">
        {% if page.url == "/partners/" %}
          {{ site.data.[page.lang].settings.banner.partners.questions }}
        {% else %}
          {{ site.data.[page.lang].settings.banner.partners.ready }}
        {% endif %}
      </header>
      <p class="margin-bottom-0">
        <a class="partners-banner__link" href="{{ '/faq/' | locale_url }}">
          {% if page.url == "/partners/" %}
            {{ site.data.[page.lang].settings.banner.partners.faqs }}
          {% else %}
            {{ site.data.[page.lang].settings.banner.partners.ready }}
          {% endif %}
        </a>
      </p>
    </div>
  </div>
</aside>