<article class="container {{ include.class }}">
  <header class="intro"><h2>{{ include.heading }}</h2></header>
  <div class='grid-container'>
    <div class="grid-row grid-gap-lg">
      {% for item in include.items %}
        <div class="item tablet:grid-col">
          {% if item.image and item.image != '' %}
            <img
              alt=""
              aria-hidden="true"
              class="{% if item.class and item.class != '' %}{{ item.class }}{% endif %}"
              src="{{ site.baseurl }}/assets/img/{{ item.image }}"
            />
          {% endif %}
          {% if item.text and item.text != '' %}
            {{ item.text | markdownify }}
          {% endif %}
        </div>
      {% endfor %}
    </div>
  </div>
  {% if include.link and include.link != '' %}
    {{ include.link | markdownify }}
  {% endif %}
</article>