@use 'uswds-core' as *;

.container.is-login-for-you {
  text-align: left;
  padding-bottom: 4rem;
  padding-top: 1.5rem;

  ul {
    list-style: none;
    padding-left: 0;
  }
  li {
    padding: 0.5rem 0.5rem 0.5rem 0;
  }
  li::before {
    content: url(../img/partners/checkmark.svg);
    display: inline-block;
    margin-right: 0.5rem;
    vertical-align: middle;
  }
}
