<aside class="one-account-banner learn-more">
  <div class="one-account-banner__backdrop grid-col tablet:grid-row">
      <div class="one-account-banner__content grid-col tablet:grid-col-6">
        <h3 class="one-account-banner__tagline">
            {{ site.data.[page.lang].settings.banner.already-have-an-account.one_account }}
        </h3>
        <p class="margin-bottom-0">
            <a class="account-banner-link" href="http://www.google.com">
                {{ site.data.[page.lang].settings.banner.already-have-an-account.learn_more }}
            </a>
        </p>
      </div>
      <div class="one-account-banner__content grid-col tablet:grid-col-6">
        <h3 class="one-account-banner__tagline">
            {{ site.data.[page.lang].settings.banner.already-have-an-account.text }}
        </h3>
        <p class="margin-bottom-0">
            <a class="account-banner-link" href="http://www.google.com">
                {{ site.data.[page.lang].settings.banner.already-have-an-account.sign_in }}
            </a>
        </p>    
    </div>
  </div>
</aside>