<div class="flex-justify-center grid-row bg-yellow desktop:padding-x-4 padding-y-2 font-lang-4 center covid">
  <div class="grid-col-auto black margin-x-2">
      Does your agency have an urgent need related to COVID-19 response efforts?
  </div>
  <div class="grid-col-auto">
    <a href="https://share.hsforms.com/16DIoo--rTU2xbNW1MShkBg3ak9e" class="bg-white margin-left-1 black text-bold hover:text-no-underline text-decoration-none rounded-lg px1 py-tiny" target="_blank">
      Contact login.gov partnerships
    </a>
  </div>
</div>

<div class="py1 bg-navy white fs-12p line-height-1 center">
  <img alt="US flag" src="{{ site.baseurl }}/assets/img/us-flag.png" width="18" height="12" class="mr1 align-bottom">
  {% t banner.text %}
</div>
