<!--
  This is some slightly modified code provided by the contact center to interact
  with their support ticket intake system
-->
<script language="javascript" type="text/javascript">
    let topicID = '00NU0000004z903';
    let mappedValues = {
        'Signing In;New Account': {topic: 'Create Account', sub: 'New Account'}
    };

    let TopicEntry = function (key, label, subtopics) {
        this.key = key;
        this.label = label || key;
        this.subtopics = subtopics || [];
    };

    let topicMap = [
        new TopicEntry('Create Account', "{% t contact_page.support_request_form.topics.creating_account %}", [
                new TopicEntry('Email delivery issue', "{% t contact_page.support_request_form.subtopics.email_delivery_issue %}"),
                new TopicEntry('Invalid email', "{% t contact_page.support_request_form.subtopics.invalid_email %}"),
                new TopicEntry('Password issue', "{% t contact_page.support_request_form.subtopics.change_password %}"),
                new TopicEntry('No phone', "{% t contact_page.support_request_form.subtopics.no_phone %}"),
                new TopicEntry('New account', "{% t contact_page.support_request_form.subtopics.new_account %}"),
                new TopicEntry('Authentication app setup', "{% t contact_page.support_request_form.subtopics.authentication_app_setup %}"),
                new TopicEntry('Invalid Personal key', "{% t contact_page.support_request_form.subtopics.personal_key %}"),
                new TopicEntry('Site navigation', "{% t contact_page.support_request_form.subtopics.site_navigation %}"),
                new TopicEntry('Login.gov account for a family member', "{% t contact_page.support_request_form.subtopics.add_family_member %}"),
                new TopicEntry('Bug', "{% t contact_page.support_request_form.subtopics.bug_report %}"),
                new TopicEntry('Other', "{% t contact_page.support_request_form.subtopics.other %}")
            ]
        ),
        new TopicEntry('Signing In', "{% t contact_page.support_request_form.topics.signing_in %}", [
                new TopicEntry("Forgot password", "{% t contact_page.support_request_form.subtopics.forgot_password %}"),
                new TopicEntry("Invalid personal key", "{% t contact_page.support_request_form.subtopics.personal_key %}"),
                new TopicEntry("Locked out", "{% t contact_page.support_request_form.subtopics.locked_out %}"),
                new TopicEntry("Remember device issue", "{% t contact_page.support_request_form.subtopics.remember_device_issue %}"),
                new TopicEntry("Recover account", "{% t contact_page.support_request_form.subtopics.recover_account %}"),
                new TopicEntry("Bug", "{% t contact_page.support_request_form.subtopics.bug_report %}"),
                new TopicEntry("Site navigation", "{% t contact_page.support_request_form.subtopics.site_navigation %}"),
                new TopicEntry("New Account", "{% t contact_page.support_request_form.subtopics.new_account %}"),
                new TopicEntry("Backup codes", "{% t contact_page.support_request_form.subtopics.backup_codes %}"),
                new TopicEntry('Other', "{% t contact_page.support_request_form.subtopics.other %}")
            ]
        ),
        new TopicEntry("MFA (Multi Factor Authentication)", "{% t contact_page.support_request_form.topics.mfa %}", [
            new TopicEntry("International number", "{% t contact_page.support_request_form.subtopics.international_number %}"),
            new TopicEntry("No OTP received", "{% t contact_page.support_request_form.subtopics.security_code %}"),
            new TopicEntry("Invalid OTP", "{% t contact_page.support_request_form.subtopics.invalid_otp %}"),
            new TopicEntry("Unwanted OTP sent", "{% t contact_page.support_request_form.subtopics.unwanted_otp %}"),
            new TopicEntry("Multiple OTPs sent", "{% t contact_page.support_request_form.subtopics.multiple_otps %}"),
            new TopicEntry("Authentication app", "{% t contact_page.support_request_form.subtopics.authentication_app %}"),
            new TopicEntry("PIV/CAC", "{% t contact_page.support_request_form.subtopics.piv_cac %}"),
            new TopicEntry("Security Key", "{% t contact_page.support_request_form.subtopics.security_key %}"),
            new TopicEntry("New Device Notification", "{% t contact_page.support_request_form.subtopics.device_notification %}"),
            new TopicEntry("Personal Key Notification", "{% t contact_page.support_request_form.subtopics.personal_key_notification %}"),
            new TopicEntry('Other', "{% t contact_page.support_request_form.subtopics.other %}")
        ]),
        new TopicEntry("Changing Settings", "{% t contact_page.support_request_form.topics.changing_settings %}", [
            new TopicEntry("Change password", "{% t contact_page.support_request_form.subtopics.change_password %}"),
            new TopicEntry("Change email", "{% t contact_page.support_request_form.subtopics.change_email %}"),
            new TopicEntry("Change phone number", "{% t contact_page.support_request_form.subtopics.change_phone_number %}"),
            new TopicEntry("Delete account", "{% t contact_page.support_request_form.subtopics.delete_account %}"),
            new TopicEntry("Authentication app", "{% t contact_page.support_request_form.subtopics.authentication_app %}"),
            new TopicEntry("New personal key", "{% t contact_page.support_request_form.subtopics.new_personal_key %}"),
            new TopicEntry("New backup codes", "{% t contact_page.support_request_form.subtopics.new_backup_codes %}"),
            new TopicEntry('Other', "{% t contact_page.support_request_form.subtopics.other %}")
        ]),
        new TopicEntry("Account Linking", "{% t contact_page.support_request_form.topics.account_linking %}", [
            new TopicEntry("Verifying your identity", "{% t contact_page.support_request_form.topics.verifying_identity %}"),
            new TopicEntry("State-issued ID error", "{% t contact_page.support_request_form.subtopics.state_issued_id_error %}"),
            new TopicEntry("Verify identity error", "{% t contact_page.support_request_form.subtopics.verify_identity_error %}"),
            new TopicEntry("Failure after entering phone number", "{% t contact_page.support_request_form.subtopics.phone_number_failure %}"),
            new TopicEntry("Didn't receive letter in mail", "{% t contact_page.support_request_form.subtopics.letter_in_mail %}"),
            new TopicEntry("Account locked for 24 hours", "{% t contact_page.support_request_form.subtopics.account_locked %}"),
            new TopicEntry("Other", "{% t contact_page.support_request_form.subtopics.other %}")
        ]),
        new TopicEntry("login.gov System", "{% t contact_page.support_request_form.topics.login_system %}"),
        new TopicEntry("Other", "{% t contact_page.support_request_form.topics.other %}")
    ];

    function remapvalues(frm) {
        // Get the current values for topic and subtopic
        let topic = document.getElementById("00NU0000004z903");
        let sub = document.getElementById("sub-topic");

        let topicValue = topic.value;
        let subValue = sub.value;

        let key = topicValue + ';' + subValue;

        // Do we have a mapping?
        if (mappedValues[key]) {
            sub.value = mappedValues[key].sub;
            topic.value = mappedValues[key].topic;
        }


        return true;
    }

    function populatetopics() {
        let field = document.getElementById(topicID);
        field.options.length = 0;
        field.options[0] = new Option("{% t contact_page.support_request_form.form_helpers.select_one %}", "", false, true);

        for (let topic in topicMap) {
            field.options[field.options.length] = new Option(topicMap[topic].label, topicMap[topic].key);
        }
        field.options[0].hidden = true;

        let sub = document.getElementById('sub-topic');
        sub.options[0] = new Option("{% t contact_page.support_request_form.form_helpers.select_topic %}", null, false, true);
        sub.options[0].hidden = true;

        var recaptcha = document.querySelector('#g-recaptcha-response');
        if(recaptcha) {
            recaptcha.setAttribute("required", "required");
        }
    }

    function dynamicdropdown(listindex) {
        console.log(listindex);
        let sub = document.getElementById('sub-topic');

        let oldvalue = sub.value;
        let options = [];

        let selectedIndex = 0;

        for (let i = 0; i < topicMap.length; i++) {
            console.log(topicMap[i].key);
            if (topicMap[i].key === listindex) {
                console.log(topicMap[i]);
                options.push(new Option("{% t contact_page.support_request_form.form_helpers.select_one %}", "", false, true));
                for (let j = 0; j < topicMap[i].subtopics.length; j++) {
                    let subtopic = topicMap[i].subtopics[j];
                    options.push(new Option(subtopic.label, subtopic.key));
                    if (subtopic.key === oldvalue) {
                        selectedIndex = j + 1;
                    }
                }
                options[0].hidden = true;
            }
        }

        sub.options.length = 0;
        for (let i = 0; i < options.length; i++) {
            sub.options[sub.options.length] = options[i];
        }

        // sub.options = options;
        sub.selectedIndex = selectedIndex;

        return true;
    }

    window.onload = populatetopics;


    function doNotAnswer() {
      const noAnswer = document.querySelector("#contact-us-form #information");
      if (noAnswer) {
        noAnswer.removeAttribute('required');
        noAnswer.parentElement.style.position='absolute';
        noAnswer.parentElement.style.left='-7000px';
      }
    }
    document.addEventListener('DOMContentLoaded', doNotAnswer);
</script>

<h2>{% t contact_page.support_request_form.title %}</h2>
<p>{% t contact_page.support_request_form.instructions %}</p>

<form id="contact-us-form" action="https://webto.salesforce.com/servlet/servlet.WebToCase?encoding=UTF-8"
      method="POST" onSubmit="return remapvalues(this); return true;">
  <input type='hidden' name="retURL" value="http://login.gov"/>
  <input type='hidden' name="orgid" value="00D350000001BVt"/>
  <div class="lg-col lg-col-12 select">
    <label class='bold' for="00Nt0000000OYA2">{% t
      contact_page.support_request_form.labels.agency_application %}</label>
    <select class='block sm-col-6 mb2 field select required' id="00Nt0000000OYA2" name="00Nt0000000OYA2"
            title="Agency Application" required>
      <option value="" selected hidden>{% t contact_page.support_request_form.form_helpers.select_one %}
      </option>
      <option value="USAJOBS">{% t contact_page.support_request_form.agencies.usajobs %}</option>
      <option value="Trusted Traveler Programs (Global Entry/Nexus/Sentri)">{% t
        contact_page.support_request_form.agencies.trusted_traveler_program %}
      </option>
      <option value="DOT FMCSA (Motor Carrier Safety)">{% t contact_page.support_request_form.agencies.dot_fmcsa %}
      </option>
      <option value="GSA Sam.gov">{% t contact_page.support_request_form.agencies.sam %}</option>
      <option value="Customs and Border Protection Jobs">{% t contact_page.support_request_form.agencies.cbp_jobs %}
      </option>
      <option value="DOT National Registry of Certified Medical Examiners">{% t
        contact_page.support_request_form.agencies.dot_nrcme %}
      </option>
      <option value="Customs and Border Protection ROAM">{% t
        contact_page.support_request_form.agencies.cbp_roam %}
      </option>
      <option value="DOD Moves.mil (Homes or Office)">{% t
        contact_page.support_request_form.agencies.move_mil %}
      </option>
      <option value="Railroad Retirement Board">{% t
        contact_page.support_request_form.agencies.railroad_retirement_board %}
      </option>
      <option value="Other">{% t contact_page.support_request_form.agencies.other %}</option>
    </select>
  </div>

  <div class="lg-col lg-col-12">
    <div class="form-group required-field">
      <label class='bold' for="email">{% t contact_page.support_request_form.labels.email %}</label>
      <input class='bold field string sm-col-12 mb2' id="email" maxlength="80"
             name="email" type="text" placeholder="john.smith@example.com"
             pattern="^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)+$"
             title="Please enter an email address" required/>
    </div>
  </div>

  <div class="lg-col lg-col-12">
    <div class="form-group">
      <label class='bold' for="00NU0000004z90E">{% t contact_page.support_request_form.labels.phone %}</label>
      <input class='bold field string sm-col-4 mb2 required' id="00NU0000004z90E" maxlength="40"
             name="00NU0000004z90E" placeholder="5556667777"
             type="text" pattern="^\d{3}[-. (]*\d{3}[-. (]*\d{4}$"
             title="Please enter a phone number in 5556667777 format"/>
    </div>
  </div>

  <div class="lg-col lg-col-12">
    <div class="form-group required-field">
      <label class='bold' for="00NU0000004z903">{% t contact_page.support_request_form.labels.topic %}</label>
      <select class='block sm-col-8 mb2 field select' id="00NU0000004z903" name="00NU0000004z903"
              title="Issue Topic" required onchange="dynamicdropdown(this.options[this.selectedIndex].value);">
      </select><br/>
    </div>
  </div>

  <div class="lg-col lg-col-12">
    <div class="form-group">
      <label class="bold" for="sub-topic">{% t contact_page.support_request_form.labels.subtopic %}</label>
      <select class="block sm-col-10 mb2 field select"
              id="sub-topic" name="00NU0000004z905" title="Issue Sub-Topic">
      </select><br/>
    </div>
  </div>

  <div class="lg-col lg-col-12">
    <label class='bold' for="description">{% t contact_page.support_request_form.labels.description %}</label>
    <textarea class='bold field text sm-col-12 mb2' id='description' name="description" required
              rows="5" cols="50" maxlength="32000"></textarea>
  </div>

  <div class="lg-col lg-col-12">
    <label class='bold' for="description">Additional Info:</label>
    <textarea class='bold field text sm-col-12 mb2' id='information' name="00Nt0000000FsTK" required
              rows="1" cols="50" maxlength="80"></textarea>
  </div>

  <div class="lg-col lg-col-12">
    <div class="g-recaptcha" data-sitekey="6LfeV8YUAAAAAObO6JWt4FUMJUmzbjkufn09mgtl"></div><br>
  </div>

  <input type='hidden' name='captcha_settings' value='{"keyname":"ReCAPTCHA_Login","fallback":"true","orgId":"00DU0000000Leux","ts":""}'/>
  <input type="hidden" name="status" id="status" value="New"/>
  <input type="hidden" id="external" name="external" value="1"/>
  <input type="hidden" name="recordType" id="recordType" value="012t00000004JFu"/>
  <input class="btn btn-primary sm-col-3 btn-wide mt3 mb3" type="submit" name="submit"
         value="{% t contact_page.support_request_form.submit %}"/>
</form>
