{% comment %} include: - common_applications: array of strings (translation keys) {% endcomment %}
<!--
  This is some slightly modified code provided by the contact center to interact
  with their support ticket intake system
-->
<script language="javascript" type="text/javascript">
  let topicID = '00NU0000004z903';
  let mappedValues = {
    'Signing In;New Account': { topic: 'Create Account', sub: 'New Account' },
  };

  let TopicEntry = function (key, label, subtopics) {
    this.key = key;
    this.label = label || key;
    this.subtopics = subtopics || [];
  };

  let topicMap = [
    new TopicEntry(
      'Create Account',
      '{{ site.data.[page.lang].settings.contact_page.support_request_form.topics.creating_account | escape_quotes }}',
      [
        new TopicEntry(
          'Email delivery issue',
          '{{ site.data.[page.lang].settings.contact_page.support_request_form.subtopics.email_delivery_issue | escape_quotes }}',
        ),
        new TopicEntry(
          'Invalid email',
          '{{ site.data.[page.lang].settings.contact_page.support_request_form.subtopics.invalid_email | escape_quotes }}',
        ),
        new TopicEntry(
          'Password issue',
          '{{ site.data.[page.lang].settings.contact_page.support_request_form.subtopics.change_password | escape_quotes }}',
        ),
        new TopicEntry(
          'No phone',
          '{{ site.data.[page.lang].settings.contact_page.support_request_form.subtopics.no_phone | escape_quotes }}',
        ),
        new TopicEntry(
          'New account',
          '{{ site.data.[page.lang].settings.contact_page.support_request_form.subtopics.new_account | escape_quotes }}',
        ),
        new TopicEntry(
          'Authentication app setup',
          '{{ site.data.[page.lang].settings.contact_page.support_request_form.subtopics.authentication_app_setup | escape_quotes }}',
        ),
        new TopicEntry(
          'Invalid Personal key',
          '{{ site.data.[page.lang].settings.contact_page.support_request_form.subtopics.personal_key | escape_quotes }}',
        ),
        new TopicEntry(
          'Site navigation',
          '{{ site.data.[page.lang].settings.contact_page.support_request_form.subtopics.site_navigation | escape_quotes }}',
        ),
        new TopicEntry(
          'Login.gov account for a family member',
          '{{ site.data.[page.lang].settings.contact_page.support_request_form.subtopics.add_family_member | escape_quotes }}',
        ),
        new TopicEntry(
          'Bug',
          '{{ site.data.[page.lang].settings.contact_page.support_request_form.subtopics.blank_screen | escape_quotes }}',
        ),
        new TopicEntry(
          'Other',
          '{{ site.data.[page.lang].settings.contact_page.support_request_form.subtopics.other | escape_quotes }}',
        ),
      ],
    ),
    new TopicEntry(
      'Signing In',
      '{{ site.data.[page.lang].settings.contact_page.support_request_form.topics.signing_in | escape_quotes }}',
      [
        new TopicEntry(
          'Forgot password',
          '{{ site.data.[page.lang].settings.contact_page.support_request_form.subtopics.forgot_password | escape_quotes }}',
        ),
        new TopicEntry(
          'Invalid personal key',
          '{{ site.data.[page.lang].settings.contact_page.support_request_form.subtopics.personal_key | escape_quotes }}',
        ),
        new TopicEntry(
          'Locked out',
          '{{ site.data.[page.lang].settings.contact_page.support_request_form.subtopics.locked_out | escape_quotes }}',
        ),
        new TopicEntry(
          'Remember device issue',
          '{{ site.data.[page.lang].settings.contact_page.support_request_form.subtopics.remember_device_issue | escape_quotes }}',
        ),
        new TopicEntry(
          'Recover account',
          '{{ site.data.[page.lang].settings.contact_page.support_request_form.subtopics.recover_account | escape_quotes }}',
        ),
        new TopicEntry(
          'Bug',
          '{{ site.data.[page.lang].settings.contact_page.support_request_form.subtopics.blank_screen | escape_quotes }}',
        ),
        new TopicEntry(
          'Site navigation',
          '{{ site.data.[page.lang].settings.contact_page.support_request_form.subtopics.site_navigation | escape_quotes }}',
        ),
        new TopicEntry(
          'New Account',
          '{{ site.data.[page.lang].settings.contact_page.support_request_form.subtopics.new_account | escape_quotes }}',
        ),
        new TopicEntry(
          'Backup codes',
          '{{ site.data.[page.lang].settings.contact_page.support_request_form.subtopics.backup_codes | escape_quotes }}',
        ),
        // new TopicEntry(
        //   'Remember device issue',
        //   "{{ site.data.[page.lang].settings.contact_page.support_request_form.subtopics.remember_browser }}",
        // ),
        new TopicEntry(
          'Other',
          '{{ site.data.[page.lang].settings.contact_page.support_request_form.subtopics.other | escape_quotes }}',
        ),
      ],
    ),
    new TopicEntry(
      'MFA (Multi Factor Authentication)',
      '{{ site.data.[page.lang].settings.contact_page.support_request_form.topics.security_codes | escape_quotes }}',
      [
        new TopicEntry(
          'International number',
          '{{ site.data.[page.lang].settings.contact_page.support_request_form.subtopics.international_number | escape_quotes }}',
        ),
        new TopicEntry(
          'No OTP received',
          '{{ site.data.[page.lang].settings.contact_page.support_request_form.subtopics.security_code | escape_quotes }}',
        ),
        new TopicEntry(
          'Invalid OTP',
          '{{ site.data.[page.lang].settings.contact_page.support_request_form.subtopics.invalid_otp | escape_quotes }}',
        ),
        new TopicEntry(
          'Unwanted OTP sent',
          '{{ site.data.[page.lang].settings.contact_page.support_request_form.subtopics.unwanted_otp | escape_quotes }}',
        ),
        new TopicEntry(
          'Multiple OTPs sent',
          '{{ site.data.[page.lang].settings.contact_page.support_request_form.subtopics.multiple_otps | escape_quotes }}',
        ),
        new TopicEntry(
          'Authentication app',
          '{{ site.data.[page.lang].settings.contact_page.support_request_form.subtopics.authentication_app | escape_quotes }}',
        ),
        new TopicEntry(
          'PIV/CAC',
          '{{ site.data.[page.lang].settings.contact_page.support_request_form.subtopics.piv_cac | escape_quotes }}',
        ),
        new TopicEntry(
          'Security Key',
          '{{ site.data.[page.lang].settings.contact_page.support_request_form.subtopics.security_key | escape_quotes }}',
        ),
        new TopicEntry(
          'New Device Notification',
          '{{ site.data.[page.lang].settings.contact_page.support_request_form.subtopics.device_notification | escape_quotes }}',
        ),
        new TopicEntry(
          'Personal Key Notification',
          '{{ site.data.[page.lang].settings.contact_page.support_request_form.subtopics.personal_key_notification | escape_quotes }}',
        ),
        // new TopicEntry(
        //   'Lost MFA Method',
        //   "{{ site.data.[page.lang].settings.contact_page.support_request_form.subtopics.lost_access }}",
        // ),
        new TopicEntry(
          'Face or Touch Unlock',
          '{{ site.data.[page.lang].settings.contact_page.support_request_form.subtopics.issues_with_face_touch_unlock | escape_quotes }}',
        ),
        new TopicEntry(
          'Other',
          '{{ site.data.[page.lang].settings.contact_page.support_request_form.subtopics.other | escape_quotes }}',
        ),
      ],
    ),
    new TopicEntry(
      'Changing Settings',
      '{{ site.data.[page.lang].settings.contact_page.support_request_form.topics.changing_settings | escape_quotes }}',
      [
        new TopicEntry(
          'Change password',
          '{{ site.data.[page.lang].settings.contact_page.support_request_form.subtopics.change_password | escape_quotes }}',
        ),
        new TopicEntry(
          'Change email',
          '{{ site.data.[page.lang].settings.contact_page.support_request_form.subtopics.change_email | escape_quotes }}',
        ),
        new TopicEntry(
          'Change phone number',
          '{{ site.data.[page.lang].settings.contact_page.support_request_form.subtopics.change_phone_number | escape_quotes }}',
        ),
        new TopicEntry(
          'Delete account',
          '{{ site.data.[page.lang].settings.contact_page.support_request_form.subtopics.delete_account | escape_quotes }}',
        ),
        new TopicEntry(
          'Authentication app',
          '{{ site.data.[page.lang].settings.contact_page.support_request_form.subtopics.authentication_app | escape_quotes }}',
        ),
        new TopicEntry(
          'New personal key',
          '{{ site.data.[page.lang].settings.contact_page.support_request_form.subtopics.new_personal_key | escape_quotes }}',
        ),
        new TopicEntry(
          'New backup codes',
          '{{ site.data.[page.lang].settings.contact_page.support_request_form.subtopics.new_backup_codes | escape_quotes }}',
        ),
        new TopicEntry(
          'Other',
          '{{ site.data.[page.lang].settings.contact_page.support_request_form.subtopics.other | escape_quotes }}',
        ),
      ],
    ),
    new TopicEntry(
      'Verifying your identity',
      '{{ site.data.[page.lang].settings.contact_page.support_request_form.topics.verifying_identity | escape_quotes }}',
      [
        new TopicEntry(
          'State-issued ID error',
          '{{ site.data.[page.lang].settings.contact_page.support_request_form.subtopics.state_issued_id_error | escape_quotes }}',
        ),
        new TopicEntry(
          'Failure trying to verify my identity',
          '{{ site.data.[page.lang].settings.contact_page.support_request_form.subtopics.verify_identity_error | escape_quotes }}',
        ),
        new TopicEntry(
          'Failure after entering phone number',
          '{{ site.data.[page.lang].settings.contact_page.support_request_form.subtopics.phone_number_failure | escape_quotes }}',
        ),
        new TopicEntry(
          "Didn't receive letter in mail",
          '{{ site.data.[page.lang].settings.contact_page.support_request_form.subtopics.letter_in_mail | escape_quotes }}',
        ),
        new TopicEntry(
          'Account locked for 24 hours',
          '{{ site.data.[page.lang].settings.contact_page.support_request_form.subtopics.account_locked | escape_quotes }}',
        ),
        new TopicEntry(
          'In-Person Proofing',
          '{{ site.data.[page.lang].settings.contact_page.support_request_form.subtopics.cant_proof_in_person | escape_quotes }}',
        ),
        // new TopicEntry(
        //   'Creating an Account in IAL2',
        //   "{{ site.data.[page.lang].settings.contact_page.support_request_form.subtopics.how_to_create_with_verification | escape_quotes}}",
        // ),
        // new TopicEntry(
        //   'How/Why do I verify my identity?',
        //   '{{ site.data.[page.lang].settings.contact_page.support_request_form.subtopics.how_to_verify | escape_quotes }}',
        // ),
        new TopicEntry(
          'Other',
          '{{ site.data.[page.lang].settings.contact_page.support_request_form.subtopics.other | escape_quotes }}',
        ),
      ],
    ),
    new TopicEntry(
      'login.gov System',
      '{{ site.data.[page.lang].settings.contact_page.support_request_form.topics.feedback | escape_quotes }}',
      [
        // new TopicEntry(
        //   'Spam',
        //   "{{ site.data.[page.lang].settings.contact_page.support_request_form.subtopics.concerned_login_email | escape_quotes }}",
        // ),
        // new TopicEntry(
        //   'Privacy and Security',
        //   "{{ site.data.[page.lang].settings.contact_page.support_request_form.subtopics.security_question | escape_quotes }}",
        // ),
        // new TopicEntry(
        //   'Potential Business',
        //   "{{ site.data.[page.lang].settings.contact_page.support_request_form.subtopics.interest_in_partnership | escape_quotes }}",
        // ),
        new TopicEntry(
          'Account Linking',
          '{{ site.data.[page.lang].settings.contact_page.support_request_form.subtopics.how_to_link | escape_quotes }}',
        ),
        // new TopicEntry(
        //   'Service Quality',
        //   "{{ site.data.[page.lang].settings.contact_page.support_request_form.subtopics.feedback | escape_quotes }}",
        // ),
        // new TopicEntry(
        //   'Bug',
        //   "{{ site.data.[page.lang].settings.contact_page.support_request_form.subtopics.seeing_errors | escape_quotes }}",
        // ),
        // new TopicEntry(
        //   'Agency Website Error',
        //   "{{ site.data.[page.lang].settings.contact_page.support_request_form.subtopics.issue_with_partner_agency | escape_quotes  }}",
        // ),
        new TopicEntry(
          'Other',
          '{{ site.data.[page.lang].settings.contact_page.support_request_form.subtopics.other  | escape_quotes }}',
        ),
      ],
    ),
  ];

  function remapvalues(frm) {
    // Get the current values for topic and subtopic
    let topic = document.getElementById('00NU0000004z903');
    let sub = document.getElementById('sub-topic');

    let topicValue = topic.value;
    let subValue = sub.value;

    let key = topicValue + ';' + subValue;

    // Do we have a mapping?
    if (mappedValues[key]) {
      sub.value = mappedValues[key].sub;
      topic.value = mappedValues[key].topic;
    }

    return true;
  }

  function populatetopics() {
    let field = document.getElementById(topicID);
    field.options.length = 0;
    field.options[0] = new Option(
      '{{ site.data.[page.lang].settings.contact_page.support_request_form.form_helpers.select_topic }}',
      '',
      false,
      true,
    );

    for (let topic in topicMap) {
      field.options[field.options.length] = new Option(topicMap[topic].label, topicMap[topic].key);
    }
    field.options[0].hidden = true;

    let sub = document.getElementById('sub-topic');
    sub.options[0] = new Option(
      '{{ site.data.[page.lang].settings.contact_page.support_request_form.form_helpers.select_issue }}',
      null,
      false,
      true,
    );
    sub.options[0].hidden = true;
  }

  function dynamicdropdown(listindex) {
    console.log(listindex);
    let sub = document.getElementById('sub-topic');

    let oldvalue = sub.value;
    let options = [];

    let selectedIndex = 0;

    for (let i = 0; i < topicMap.length; i++) {
      console.log(topicMap[i].key);
      if (topicMap[i].key === listindex) {
        console.log(topicMap[i]);
        options.push(
          new Option(
            '{{ site.data.[page.lang].settings.contact_page.support_request_form.form_helpers.select_issue }}',
            '',
            false,
            true,
          ),
        );
        for (let j = 0; j < topicMap[i].subtopics.length; j++) {
          let subtopic = topicMap[i].subtopics[j];
          options.push(new Option(subtopic.label, subtopic.key));
          if (subtopic.key === oldvalue) {
            selectedIndex = j + 1;
          }
        }
        options[0].hidden = true;
      }
    }

    sub.options.length = 0;
    for (let i = 0; i < options.length; i++) {
      sub.options[sub.options.length] = options[i];
    }

    // sub.options = options;
    sub.selectedIndex = selectedIndex;

    return true;
  }

  window.onload = populatetopics;

  function doNotAnswer() {
    // this will hide the display of the honeypot Field
    // more information found here. https://help.salesforce.com/articleView?id=pardot_forms_add_honeypot.htm
    const noAnswer = document.querySelector('#contact-us-form #information');
    if (noAnswer) {
      noAnswer.removeAttribute('required');
      noAnswer.tabIndex = -1;
      noAnswer.parentElement.setAttribute('aria-hidden', 'true');
      noAnswer.parentElement.style.position = 'absolute';
      noAnswer.parentElement.style.left = '-7000px';
    }
  }
  document.addEventListener('DOMContentLoaded', doNotAnswer);
</script>

<div>
  <h3>{{ site.data.[page.lang].settings.contact_page.support_request_form.title }}</h3>
  <form
    id="contact-us-form"
    action="{{ site.contact_form_action }}"
    method="POST"
    onSubmit="return remapvalues(this); return true;"
    class="usa-form"
  >
    <input type="hidden" name="00NU0000004z90b" id="00NU0000004z90b" value="{{ site.data.language_map.languages[page.lang] | default: 'English' }}" />
    <input type="hidden" name="00N3R00000AdDdq" id="00N3R00000AdDdq" value="" />
    <input type="hidden" name="00N3R00000AdDdr" id="00N3R00000AdDdr" value="" />
    <input type="hidden" name="retURL" value="https://login.gov{{ '/' | locale_url }}" />
    <input type="hidden" name="orgid" value="{{ site.contact_form_orgid }}" />
    <input type="hidden" name="status" id="status" value="New" />
    <input type="hidden" id="external" name="external" value="1" />
    <input type="hidden" name="recordType" id="recordType" value="012t00000004JFu" />
    {% unless site.recaptcha_site_key %}
    <input type="hidden" name="debug" value="1" />
    {% endunless %}

    <p>
      {{ site.data.[page.lang].settings.contact_page.operating_hours }}
    </p>

    <strong>
      {{ site.data.[page.lang].settings.contact_page.support_request_form.required_text }}<abbr title="{{ site.data.[page.lang].settings.contact_page.required }}" class="usa-hint usa-hint--required">*</abbr>
    </strong>

    <!-- START: Topic -->
    <label class="usa-label" for="00NU0000004z903">
      {{ site.data.[page.lang].settings.contact_page.support_request_form.labels.topic }}<abbr title="{{ site.data.[page.lang].settings.contact_page.required }}" class="usa-hint usa-hint--required">*</abbr>
    </label>
    <select
      id="00NU0000004z903"
      name="00NU0000004z903"
      required
      onchange="dynamicdropdown(this.options[this.selectedIndex].value);"
      class="usa-select"
    >
      <!-- Default value so that HTML validation passes -->
      <option value="">
        {{
        site.data.[page.lang].settings.contact_page.support_request_form.form_helpers.select_topic
        }}
      </option>
    </select>
    <!-- END: Topic -->

    <!-- START: Subtopic -->
    <label class="usa-label" for="sub-topic">
      {{ site.data.[page.lang].settings.contact_page.support_request_form.labels.subtopic }}<abbr title="{{ site.data.[page.lang].settings.contact_page.required }}" class="usa-hint usa-hint--required">*</abbr>
    </label>
    <select id="sub-topic" name="00NU0000004z905" required class="usa-select">
      <!-- Default value so that HTML validation passes -->
      <option value="">
        {{
        site.data.[page.lang].settings.contact_page.support_request_form.form_helpers.select_issue
        }}
      </option>
    </select>
    <!-- END: Subtopic -->

    <!-- START: Agency Application -->
    <label class="usa-label" for="00Nt0000000OYA2">
      {{ site.data.[page.lang].settings.contact_page.support_request_form.labels.agency_application
      }}<abbr title="{{ site.data.[page.lang].settings.contact_page.required }}" class="usa-hint usa-hint--required">*</abbr>
    </label>
    <select id="00Nt0000000OYA2" name="00Nt0000000OYA2" required class="usa-select">
      <option value="" selected hidden>
        {{
        site.data.[page.lang].settings.contact_page.support_request_form.form_helpers.select_agency
        }}
      </option>
      {% assign all_applications_sorted = site.data[page.lang].settings.contact_page.support_request_form.agencies | sort_by_values %}
      <optgroup
        label="{{ site.data.[page.lang].settings.contact_page.support_request_form.labels.agency_application_common }}"
      >
        {% for application in all_applications_sorted %}
          {% assign common_application = include.common_applications | find_exp: 'item', 'item == application.key' %}
          {% if common_application %}
            <option value="{{ application.key }}">{{ application.value }}</option>
          {% endif %}
        {% endfor %}
      </optgroup>
      <optgroup
        label="{{ site.data.[page.lang].settings.contact_page.support_request_form.labels.agency_application_all }}"
      >
        {% for application in all_applications_sorted %}
          <option value="{{ application.key }}">{{ application.value }}</option>
        {% endfor %}
      </optgroup>
      <optgroup
        label="{{ site.data.[page.lang].settings.contact_page.support_request_form.labels.agency_application_other }}"
      >
        <option value="Other">
          {{ site.data.[page.lang].settings.contact_page.support_request_form.other }}
        </option>
      </optgroup>
    </select>
    <!-- END: Agency Application -->

    <!-- START: Email -->
    <label class="usa-label" for="email">
      {{ site.data.[page.lang].settings.contact_page.support_request_form.labels.email }}<abbr title="{{ site.data.[page.lang].settings.contact_page.required }}" class="usa-hint usa-hint--required">*</abbr>
    </label>
    <input
      id="email"
      maxlength="80"
      name="email"
      type="text"
      placeholder="example@example.com"
      pattern="^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)+$"
      required
      class="usa-input"
    />
    <!-- END: Email -->

    <!-- START: Description -->
    <label class="usa-label" for="description">
      {{
        site.data.[page.lang].settings.contact_page.support_request_form.labels.description
      }}<abbr title="{{ site.data.[page.lang].settings.contact_page.required }}" class="usa-hint usa-hint--required">*</abbr>
    </label>
    <div class="usa-hint">
      {{ site.data[page.lang].settings.contact_page.support_request_form.labels.pii_warning |
      markdownify | remove: '
      <p>' | remove: '</p>
      ' }}
    </div>

    {% assign pii_alert_content = site.data.[page.lang].settings.contact_page.support_request_form.errors.pii_found %}
    {% include alert.html
       content=pii_alert_content
       type="warning"
       id="pii-warning"
       role="alert"
       class="margin-bottom-4"
       hidden="true" %}

    <textarea
      id="description"
      name="description"
      required
      rows="5"
      cols="50"
      maxlength="32000"
      class="usa-textarea"
    ></textarea>
    <!-- END: Description -->

    <!-- START: Description -->
    <div>
      <label class="usa-label" for="information">Additional Info:</label>
      <textarea
        id="information"
        name="00Nt0000000FsTK"
        required
        rows="1"
        cols="50"
        maxlength="80"
        class="usa-textarea"
      ></textarea>
    </div>
    <!-- END: Description -->

    {% if site.recaptcha_site_key %}
    <!-- START: reCAPTCHA -->
    <div
      class="g-recaptcha margin-top-4"
      data-sitekey="{{ site.recaptcha_site_key }}"
      data-callback="clearCaptchaError"
    ></div>
    <input
      type="hidden"
      name="captcha_settings"
      value='{"keyname":"ReCAPTCHA_Login","fallback":"true","orgId":"{{ site.contact_form_orgid }}","ts":""}'
    />
    <div
      id="captcha-error-message"
      class="usa-error-message display-none margin-bottom-4"
      role="alert"
      data-error="{{ site.data.[page.lang].settings.contact_page.support_request_form.errors.captcha_required }}"
    ></div>
    <!-- END: reCAPTCHA -->
    {% endif %}

    <!-- START: Form Actions -->
    <div class="form-actions">
      <button type="submit" class="usa-button usa-button--big usa-button--wide">
        {{ site.data.[page.lang].settings.contact_page.support_request_form.submit }}
      </button>
      <button type="reset" class="usa-button usa-button--big usa-button--wide usa-button--outline">
        {{ site.data.[page.lang].settings.contact_page.support_request_form.reset }}
      </button>
    </div>
    <!-- END: Form Actions -->
  </form>
</div>
