{% comment %}
Should include these translations as includes:
- heading_country
- heading_sms
- heading_voice
- option_yes
- option_no
{% endcomment %}
<table
  class="js-country-support usa-table--borderless usa-table--sticky-header"
  data-idp-base-url="{{ site.idp_base_url }}"
  data-translation-option-yes="{{ include.option_yes }}"
  data-translation-option-no="{{ include.option_no }}"
  hidden
>
  <thead>
    <tr>
      <th scope="col" class="usa-table--sticky-header--heading">{{ include.heading_country }}</th>
      <th scope="col" class="usa-table--sticky-header--heading">{{ include.heading_sms }}</th>
      <th scope="col" class="usa-table--sticky-header--heading">{{ include.heading_voice }}</th>
    </tr>
  </thead>
  <tbody>
    <tr data-item="template-row">
      <td data-item="country"></td>
      <td>
        <span data-item="sms"></span>
        <span data-item="sms-icon-true" aria-hidden="true">
          <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
            <use xlink:href="/assets/img/sprite.svg#check_circle"></use>
          </svg>
        </span>
        <span data-item="sms-icon-false" aria-hidden="true">
          <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
            <use xlink:href="/assets/img/sprite.svg#cancel"></use>
          </svg>
        </span>
      </td>
      <td>
        <span data-item="voice"></span>
        <span data-item="voice-icon" aria-hidden="true"></span>
      </td>
    </tr>
  </tbody>
</table>
