<!--- begin covid banner --->
<div class="usa-alert usa-alert--info">
  <div class="usa-alert__body">
    <p class="usa-alert__text">
      Login.gov is dedicated to supporting relief efforts in response to
      COVID-19. Our
      <a
        href="https://share.hsforms.com/16DIoo--rTU2xbNW1MShkBg3ak9e"
        target="_blank"
        >partner inquiry form</a
      >
      now includes an option to designate inquiries as COVID-19 related.
    </p>
  </div>
</div>
<br class="clearfix" />
<!--- end covid banner --->
