<!--- begin covid banner --->
<div class="usa-alert usa-alert--info">
  <div class="usa-alert__body">
    <p class="usa-alert__text">Login.gov is dedicated to supporting efforts to provide relief in response to COVID-19. We have updated our <a href="https://share.hsforms.com/16DIoo--rTU2xbNW1MShkBg3ak9e">partner inquiry form</a> with an option to designate inquiries as related to the COVID-19 response. Our team is standing by.</p>
  </div>
</div>
<br class="clearfix" />
<!--- end covid banner --->
