<footer class="footer bg-navy">
  {% include i18n_dropdown_mobile.html %}
  <div class="container cntnr-wide py1 px2 lg-px0{% if site.languages.size > 1 %} sm-py0{% endif %}">
    <div class="flex flex-center">
      <div class="flex flex-center">
        {% include i18n_dropdown_desktop.html %}
        <a href="{{ '/help/' | relative_url }}" class="caps h6 white text-decoration-none mr3 {% if page.url == '/help/' %}bold{% endif %}">{% t meta.help.title %}</a>
        <a href="{{ '/contact/' | relative_url }}" class="caps h6 white text-decoration-none mr3 {% if page.url == '/contact/' %}bold{% endif %}">{% t meta.contact.title %}</a>
        <a href="{{ '/policy/' | relative_url }}" class="caps h6 white text-decoration-none {% if page.url == '/policy/' %}bold{% endif %}">{% t meta.privacy_and_security.title %}</a>
      </div>
      <div class="flex flex-auto flex-first">
        <a href="https://www.gsa.gov" class="flex text-decoration-none white h6" target="_blank">
          <img src="{{ '/assets/img/square-gsa.svg' | relative_url }}" width="20" height="20" class="mr1 align-middle" alt="GSA hompage" />
          <span class="sm-show">{% t footer.gsa %}</span>
        </a>
      </div>
    </div>
  </div>
</footer>
