{% if site.recaptcha_site_key and site.recaptcha_org_id %}
<script src="https://www.google.com/recaptcha/api.js"></script>
<script>
  function timestamp() {
    var response = document.getElementById("g-recaptcha-response");
    var settings = document.getElementsByName("captcha_settings");
    if (!settings.length) return 0;
    if (response == null || response.value.trim() == "") {
      var elems = JSON.parse(settings[0].value);
      elems["ts"] = JSON.stringify(new Date().getTime());
      document.getElementsByName("captcha_settings")[0].value = JSON.stringify(
        elems
      );
    }
  }
  setInterval(timestamp, 500);
</script>
{% endif %}
