<nav class="mt-tiny h5 mxn1 caps">
  <a href="{{ '/' | relative_url }}" class="px1 gray text-decoration-none  {% if page.url == '/' %}active{% endif %}"">Home</a>
  <a href="{{ '/playbook/' | relative_url }}" class="px1 gray text-decoration-none {% if page.url == '/playbook/' %}active{% endif %}">Playbook</a>
  <a href="{{ '/security/' | relative_url }}" class="px1 gray text-decoration-none {% if page.url == '/security/' %}active{% endif %}">Security</a>
  <a href="https://pages.18f.gov/identity-dev-docs/" class="px1 gray text-decoration-none">Developers</a>
  <a href="https://secure.login.gov" class="px1 gray text-decoration-none">Sign in</a>
</nav>
