<div class="usa-header usa-header--basic top-navigation">
  <div class="usa-nav-container">
    <div class="usa-navbar">
      <div class="usa-logo">
        <a href="{{ '/' | locale_url }}" aria-label="Home">
          <img
            src="{{ site.baseurl }}/assets/img/logo.svg"
            class="usa-logo__img"
            alt="{{ site.data.[page.lang].settings.accessible_labels.login_link_logo }}"
          />
        </a>
        <a href="{{ '/help/' | locale_url }}" class="usa-logo__help">
          {{ site.data.[page.lang].settings.nav.help_center }}</a>
      </div>

      <button class="usa-menu-btn">Menu</button>
    </div>

    <nav class="usa-nav" aria-label="{{ site.data.[page.lang].settings.accessible_labels.primary_navigation }}">
      <button class="usa-nav__close">
        <img src="{{ site.baseurl }}/assets/img/close.svg" alt="Close" />
      </button>

      <div class="desktop:display-none">
        <ul class="usa-nav__primary usa-accordion">
          {% for subpage in site.data[page.lang].settings.help_subpages %}
            {% assign subpage_slug = subpage[0] %}
            {% assign subpage_title = subpage[1] %}
            {% assign subpage_url = '/help/' | append: subpage_slug | append: '/' | locale_url %}
            {% assign path_split_subpage = page.path | split: subpage_url %}
            {% assign subpage_has_current = 'false' %}
            {% assign articles = site.help | where_exp: "item", "item.category == subpage_slug and item.lang == page.lang and item.child != true and item.exclude_from_nav != true" | sort: 'order' %}
            {% for article in articles %}
              {% if page.url == article.url %}
                {% assign subpage_has_current = 'true' %}
              {% endif %}
            {% endfor %}

          <li class="usa-nav__primary-item">
            <button
              class="usa-accordion__button usa-nav__link"
              aria-expanded="{{ subpage_has_current }}"
              aria-controls="help-header-nav-{{ subpage_slug }}"
            >
              <span>{{ subpage_title }}</span>
            </button>
            <ul id="help-header-nav-{{ subpage_slug }}" class="usa-nav__submenu">
              {% for article in articles %}
              <li class="usa-nav__submenu-item">
                <a
                  href="{{ article.url | prepend: site.baseurl }}"
                  class="{% if page.url == article.url %}usa-current{% endif %}"
                >
                  {% if article.meta_title %}
                    {{ article.meta_title }}
                  {% else %}
                    {{ article.title }}
                  {% endif %}
                </a>
              </li>
                {% assign children = site.help
                   | where_exp: 'item', 'item.lang == page.lang
                     and question.children contains item.url'
                   | sort: 'order' %}
                {% if children.size > 0 %}
                  <ul class="usa-nav__submenu">
                    {% for child in children %}
                    <li class="usa-nav__submenu-item border-0">
                      <a class="{% if child.url == page.url %}usa-current{% endif %}"
                          href="{{ child.url | prepend: site.baseurl }}">
                          {% if child.meta_title %}
                            {{ child.meta_title }}
                          {% else %}
                            {{ child.title }}
                          {% endif %}
                      </a>
                    </li>
                    {% endfor %}
                  </ul>
                {% endif %}
              {% endfor %}
            </ul>
          </li>
          {% endfor %}
        </ul>
      </div>

      <a
        class="usa-link display-block desktop:display-none padding-y-1 margin-y-3 text-no-underline text-bold"
        href="{{ '/contact/' | locale_url }}"
      >
        {{ site.data.[page.lang].settings.nav.contact_us.title }}
      </a>

      <div class="display-none desktop:display-block">
        {% include language_picker.html dropdown=true id="dropdown" %}
      </div>

      {% include search.html id="header-nav" collection="8801" %}

      <div class="desktop:display-none margin-top-3">
        {% include language_picker.html id="mobile-list" %}
      </div>

      <a
        class="usa-link display-none desktop:display-inline text-no-underline text-bold margin-left-1"
        href="{{ '/contact/' | locale_url }}"
      >
        {{ site.data.[page.lang].settings.nav.contact_us.title }}
      </a>
    </nav>
  </div>
</div>
<div class="usa-overlay"></div>
