<section class="language-search">
  <div class="container">
    <div class="grid-col display-flex flex-justify-end flex-align-center">
      {% include language_picker.html dropdown=true id="dropdown" %} {% include sign_in.html %}
    </div>
  </div>
</section>
<div class="usa-header usa-header--extended border-bottom" style="border-bottom-color: #dedede;">
  <div class="usa-nav-container">
    <div class="usa-navbar">
      <div class="usa-logo" id="extended-logo">
        <a href="{{ '/' | locale_url }}" aria-label="Home">
          <img
            src="{{ site.baseurl }}/assets/img/logo.svg"
            class="usa-logo__img"
            alt="{{ site.data.[page.lang].settings.accessible_labels.login_link_logo }}"
          />
          <em class="usa-logo__text">{{ site.data.[page.lang].settings.nav.help_center }}</em>
        </a>
      </div>

      <div class="display-none desktop:display-flex">
        {% include search.html id="header-nav" %}

        <a
        class="usa-button get-started margin-left-2"
        href="{{ '/contact/' | locale_url }}"
        >
          {{ site.data.[page.lang].settings.nav.contact_us.title }}
        </a>
      </div>
      <button class="usa-menu-btn">Menu</button>
    </div>

    <nav class="usa-nav" aria-label="{{ site.data.[page.lang].settings.accessible_labels.primary_navigation }}">
      <div class="usa-nav__inner">
        <button class="usa-nav__close">
          <img src="{{ site.baseurl }}/assets/img/close.svg" alt="Close" />
        </button>
        <div class="desktop:display-none">
          <ul class="usa-nav__primary usa-accordion">
            {% for category in site.data[page.lang].settings["help_page"]["categories"] %}
              {% assign articles = site.help | where_exp: "item", "item.category == category.slug and item.lang == page.lang and item.child != true and item.exclude_from_nav != true" | sort: 'order' %}

              {% assign subpage_has_current = 'false' %}
              {% assign found_match_size = site.help
                | where: "category", category.slug
                | where: "lang", page.lang
                | where: "permalink", page.url
                | where_exp: "item", "item.child != true and item.exclude_from_nav != true"
                | size %}
              {% if found_match_size == 1 %}
                {% assign subpage_has_current = 'true' %}
              {% endif %}

            <li class="usa-nav__primary-item">
              <button
                class="usa-accordion__button usa-nav__link"
                aria-expanded="{{ subpage_has_current }}"
                aria-controls="help-header-nav-{{ category.slug }}"
              >
                <span>{{ category.title }}</span>
              </button>
              <ul id="help-header-nav-{{ category.slug }}" class="usa-nav__submenu">
                {% for article in articles %}
                <li class="usa-nav__submenu-item">
                  <a
                    href="{{ article.url | prepend: site.baseurl }}"
                    class="{% if page.url == article.url %}usa-current{% endif %}"
                  >
                    {% if article.meta_title %}
                      {{ article.meta_title }}
                    {% else %}
                      {{ article.title }}
                    {% endif %}
                  </a>
                </li>
                  {% assign children = site.help
                     | where_exp: 'item', 'item.lang == page.lang
                       and question.children contains item.url'
                     | sort: 'order' %}
                  {% if children.size > 0 %}
                    <ul class="usa-nav__submenu">
                      {% for child in children %}
                      <li class="usa-nav__submenu-item border-0">
                        <a class="{% if child.url == page.url %}usa-current{% endif %}"
                            href="{{ child.url | prepend: site.baseurl }}">
                            {% if child.meta_title %}
                              {{ child.meta_title }}
                            {% else %}
                              {{ child.title }}
                            {% endif %}
                        </a>
                      </li>
                      {% endfor %}
                    </ul>
                  {% endif %}
                {% endfor %}
              </ul>
            </li>
            {% endfor %}
          </ul>
        </div>

        <a
          class="usa-link display-block desktop:display-none padding-y-1 margin-y-3 text-no-underline text-bold"
          href="{{ '/contact/' | locale_url }}"
        >
          {{ site.data.[page.lang].settings.nav.contact_us.title }}
        </a>

        <div class="desktop:display-none">
          {% include search.html id="header-nav" collection="8801" %}
        </div>

        <div class="desktop:display-none margin-top-3">
          {% include language_picker.html id="mobile-list" %}
        </div>

        <div class="display-none desktop:display-block">
          <ul class="usa-nav__primary usa-accordion">
            {% for category in site.data[page.lang].settings["help_page"]["categories"] %}
              {% assign subpage_has_current = false %}

              {% assign found_match_size = site.help
                | where: "category", category.slug
                | where: "lang", page.lang
                | where: "permalink", page.url
                | where_exp: "item", "item.child != true and item.exclude_from_nav != true"
                | size %}

                {% if found_match_size == 1 %}
                  {% assign subpage_has_current = true %}
                {% endif %}

              <li class="usa-nav__primary-item">
                <a
                  class="usa-nav__link {% if subpage_has_current %}usa-current{% endif %}"
                  href="{{ category.url | prepend: site.baseurl }}"
                >
                  {{ category.title }}
                </a>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </nav>
  </div>
</div>
<div class="usa-overlay"></div>
