<!-- Set up the path for the initial page view -->
<script>
    var _hsq = window._hsq = window._hsq || [];
    _hsq.push(['setPath', '/partners']);
  </script>

  <!-- Load the HubSpot tracking code -->
<!-- Start of HubSpot Embed Code -->
<script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/5531666.js"></script>
<!-- End of HubSpot Embed Code -->
  <!-- Tracking subsequent page views -->
  <script>
    var _hsq = window._hsq = window._hsq || [];
    _hsq.push(['setPath', '/our-agency-partners']);
    _hsq.push(['setPath', '/why-login-gov']);
    _hsq.push(['trackPageView']);
  </script>