<section class="language-search">
  <div class="container">
    {% if site.languages.size > 1 %}
    <div class="language-container">
      <button class="usa-button usa-button--outline btn-lang-toggle">
        {% include svg/globe.svg %}
        <span class="label"> {% t global.language %} </span>
      </button>
      <ul class="dropdown">
        {% for locale in site.languages %} {% capture name %}global.locales.{{
        locale }}{% endcapture %}
        <li>
          {% if locale == 'en' %}
          <a href="{{ page.url | prepend: site.baseurl_root }}">{% t name %}</a>
          {% elsif site.lang != 'en' and locale == site.lang %}
          <a href="{{ page.url | prepend: site.baseurl  }}">{% t name %}</a>
          {% else %}
          <a
            href="{{ page.url | prepend: locale | prepend: '/' | prepend: site.baseurl_root }}"
            >{% t name %}</a
          >
          {% endif %}
        </li>
        {% endfor %}
      </ul>
    </div>
    {% endif %} {% include sign_in.html %}
  </div>
</section>
