<div class="language-picker">
  {% if include.dropdown == true %}
  <button
    aria-controls="language-picker-{{ include.id }}"
    class="usa-button usa-button--outline language-picker__label language-picker__label--button"
  >
    {% include svg/globe.svg %}
    <span id="language-picker-{{ include.id }}-description" class="label">
      {{ site.data.[page.lang].settings.global.language }}
    </span>
  </button>
  {% else %}
  <div class="language-picker__label language-picker__label--text">
    {% include svg/globe.svg %}
    <span id="language-picker-{{ include.id }}-description" class="label">
      {{ site.data.[page.lang].settings.global.language }}
    </span>
  </div>
  {% endif %}

  <ul id="language-picker-{{ include.id }}" aria-describedby="language-picker-{{ include.id }}-description"
    class="{% if include.dropdown %}dropdown{% endif %} language-list">
  {% for locale in site.languages %}
    <li>
    {% if locale == 'en' %}
      {% assign locale_url = page.url | prepend: site.baseurl %}
    {% elsif page.lang != 'en' and locale == page.lang %}
      {% assign locale_url = page.url %}
    {% else %}
      {% assign locale_url = locale | prepend: '/' | prepend: site.baseurl %}
    {% endif %}
      <a href="{{ locale_url }}" class="text-no-underline">{{ site.data.[locale].settings.global.locales[locale] }}</a>
    </li>
  {% endfor %}
  </ul>
</div>
