<div class="language-picker{% if include.dropdown == true %} language-picker--dropdown usa-accordion{% endif %}">
  {% if include.dropdown == true %}
    <button
      aria-controls="language-picker-{{ include.id }}"
      class="usa-accordion__button language-picker__label language-picker__label--button"
    >
      {% include components/icon.html icon='language' %}
      <span id="language-picker-{{ include.id }}-description" class="language-picker__label-text">
        {{ site.data.[page.lang].settings.global.language }}
      </span>
      {% include components/icon.html icon='expand_more' icon_size=3 class='language-picker__expander' %}
    </button>
  {% else %}
    <div class="language-picker__label language-picker__label--text">
      <img src="{{ site.baseurl }}/assets/img/globe-blue.svg" alt="" width="12" height="12">
      <span id="language-picker-{{ include.id }}-description">
        {{ site.data.[page.lang].settings.global.language }}
      </span>
    </div>
  {% endif %}
  <ul
    id="language-picker-{{ include.id }}"
    aria-describedby="language-picker-{{ include.id }}-description"
    class="{% if include.dropdown %}usa-accordion__content{% endif %} language-picker__list"
  >
    {% for locale in site.languages %}
      <li>
        <a href="{{ page.url | delocalize_url | locale_url: locale }}" lang="{{ locale }}">
          {{ site.data.[locale].settings.global.locales[locale] }}
        </a>
      </li>
    {% endfor %}
  </ul>
</div>
