<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<!-- Twitter Card -->
{% if page.twitter_card == "large" %}
  <meta name="twitter:card" content="summary_large_image">
{% else %}
  <meta name="twitter:card" content="summary">
{% endif %}

<!-- Title -->
{% if page.title %}
  <title>{{ site.title }} | {{ page.title }}</title>
  <meta property="og:title" content="{{ site.title | xml_escape }} | {{ page.title | xml_escape }}" />
  <meta name="twitter:title" content="{{ site.title | xml_escape }} | {{ page.title | xml_escape }}">
{% else %}
  <title>{{ site.title }} | {{ site.description }}</title>
  <meta property="og:title" content="{{ site.title | xml_escape }} | {{ site.title | xml_escape }}" />
  <meta property="twitter:title" content="{{ site.title | xml_escape }} | {{ site.title | xml_escape }}" />
{% endif %}

<!-- Description -->
{% if page.description %}
  <meta name="description" content="{{ page.description | xml_escape }}">
  <meta property="og:description" content="{{ page.description | xml_escape }}" />
  <meta property="twitter:description" content="{{ page.description | xml_escape }}" />
{% else %}
  <meta name="description" content="{{ site.description | xml_escape }}">
  <meta property="og:description" content="{{ site.description | xml_escape }}" />
  <meta property="twitter:description" content="{{ site.description | xml_escape }}" />
{% endif %}

<!-- Image -->
{% if page.image %}
  <link rel="image_src" href="{{ page.image | prepend: site.baseurl }}">
  <meta name="image" content="{{ page.image | prepend: site.baseurl }}">
  <meta property="og:image" content="{{ page.image | prepend: site.baseurl }}" />
  <meta name="twitter:image" content="{{ page.image | prepend: site.baseurl }}">
{% else %}
  <link rel="image_src" href="{{ site.image | prepend: site.baseurl }}">
  <meta name="image" content="{{ site.image | prepend: site.baseurl }}">
  <meta property="og:image" content="{{ site.image | prepend: site.baseurl }}" />
  <meta name="twitter:image" content="{{ site.image | prepend: site.baseurl }}">
{% endif %}

<link rel="canonical" href="{{ page.url | replace: 'index.html', '' | prepend: site.baseurl | prepend: site.canonical_domain | replace: '//', '/' | prepend: 'https://' }}">

<link rel="apple-touch-icon" sizes="180x180" href="{{ '/apple-touch-icon.png' | relative_url }}">
<link rel="icon" type="image/png" href="{{ '/favicon-32x32.png' | relative_url }}" sizes="32x32">
<link rel="icon" type="image/png" href="{{ '/favicon-16x16.png' | relative_url }}" sizes="16x16">
<link rel="manifest" href="{{ '/manifest.json' | relative_url }}">
<link rel="mask-icon" href="{{ '/safari-pinned-tab.svg' | relative_url }}" color="#e21c3d">
<meta name="theme-color" content="#ffffff">
