<a href="#" class="sm-hide flex flex-center w-60p flex-justify bg-lightest-blue caps bold text-decoration-none fs-13p" id="js-mobile-nav-toggle">
  <span class="block mx-auto">{% t nav.menu %}</span>
  <img src="{{ site.baseurl }}/assets/img/close.svg" width="13" alt="Close" class="display-none mx-auto">
</a>

<nav class="sm-flex flex-center z2">
  <ul class="list-reset m0 sm-mt1">
    <li class="sm-mr3">
      <a href="{{ '/' | relative_url }}" class="blue caps text-decoration-none {% if page.url == '/' %}active{% endif %}">{% t nav.home %}</a>
    </li>
    <li class="sm-mr3 dropdown">
      <a href="{{ '/playbook/' | relative_url }}" class="blue caps text-decoration-none {% if page.url contains '/playbook/' %}active{% endif %}">{% t nav.playbook %}<span class="dropdown-arrow"> &#9662;</span></a>
        <ul class="sm-show">
          <li><a href="{{ '/playbook/' | relative_url }}">{% t nav.overview %}</a></li>
          <li><a href="{{ '/playbook/principles/' | relative_url }}">{% t nav.principles %}</a></li>
          <li><a href="{{ '/playbook/implementation/' | relative_url }}">{% t nav.implementation %}</a></li>
        </ul>
      </li>
    </li>
    <li class="sm-mr3">
      <a href="{{ '/security/' | relative_url }}" class="blue caps text-decoration-none {% if page.url == '/security/' %}active{% endif %}">{% t nav.security %}</a>
    </li>
    <li class="sm-mr3">
      <a href="{{ '/developers/' | relative_url }}" class="blue caps text-decoration-none {% if page.url == '/developers/' %}active{% endif %}">{% t nav.developers %}</a>
    </li>
    <li class="sm-mr2 md-mr3 dropdown">
      <a href="{{ '/help/' | relative_url }}" class="blue caps text-decoration-none {% if page.url contains '/help/' %}active{% endif %}">{% t nav.help %}<span class="dropdown-arrow"> &#9662;</span></a>
      <ul class="sm-show dropdown-min-width">
        <li><a href="{{ '/help/' | relative_url }}">{% t nav.overview %}</a></li>
        {% for subpage in site.help_pages %}
          {% assign subpage_slug = subpage | slugify %}
          {% assign subpage_link = site.help | where_exp: "item", "item.url contains subpage_slug" | where: 'order', 1 | first %}
          <li>
            <a href="{{ subpage_link.url | relative_url }}">
              {{ site.translations[site.lang]["help_subpages"][subpage]}}
            </a>
          </li>
        {% endfor %}
      </ul>
    </li>
    <li>
      <a href="https://secure.login.gov/" class="blue caps text-decoration-none">{% t nav.manage %}</a>
    </li>
  </ul>
</nav>
