{% if page.url == '/create-an-account/' %}
  {% assign link_class = 'usa-button usa-button--big' %}
  {% assign link_url = 'https://secure.login.gov/sign_up/enter_email' %}
  {% capture link_content %}
    {{ site.data.[page.lang].settings.banner.one-account-for-govt.create }}
  {% endcapture %}
{% else %}
  {% assign link_class = 'one-account-banner__link' %}
  {% assign link_url = '/create-an-account/' | locale_url %}
  {% capture link_content %}
    {{ site.data.[page.lang].settings.banner.one-account-for-govt.learn }}
  {% endcapture %}
{% endif %}
<aside class="one-account-banner">
  <div class="one-account-banner__backdrop">
    <div class="one-account-banner__content">
      <header class="one-account-banner__tagline">
        {{ site.data.[page.lang].settings.banner.one-account-for-govt.tagline }}
      </header>
      <p class="margin-bottom-0">
        <a class="{{ link_class }}" href="{{ link_url }}">
          {{ link_content }}
        </a>
      </p>
    </div>
  </div>
</aside>
