<header class="usa-header usa-header--extended bg-white" role="banner">
  <div class="usa-navbar">
    <div class="usa-logo" id="extended-logo">
      <a href="javascript:;" title="Home" aria-label="Home">
        <img src="{{ site.baseurl }}/assets/img/logo.svg" class="usa-logo__img" alt="login.gov">
      </a>
    </div>

    <button class="usa-menu-btn">Menu</button>
  </div>

  <nav role="navigation" class="usa-nav" >
    <div class="usa-nav__inner">
      <button class="usa-nav__close"><img src="{{ site.baseurl }}/assets/img/close.svg" alt="Close"></button>
      <ul class="usa-nav__primary usa-accordion">
        <li class="usa-nav__primary-item">
          <a class="usa-nav__link {% if page.url == '/' %}usa-current{% endif %}" href="{{ '/' | relative_url }}">
            <span>{% t nav.home %}</span>
          </a>
        </li>
        <li class="usa-nav__primary-item">
          <button class="usa-accordion__button usa-nav__link {% if page.url contains '/playbook/' %}usa-current{% endif %}" aria-controls="unique-id-1">
            <span>{% t nav.playbook %}</span>
          </button>
          <ul id="unique-id-1" class="usa-nav__submenu">
            <li class="usa-nav__submenu-item">
              <a href="{{ '/playbook/' | relative_url }}">
                <span>{% t nav.overview %}</span>
              </a>
            </li>
            <li class="usa-nav__submenu-item">
              <a href="{{ '/playbook/principles/' | relative_url }}">
                <span>{% t nav.principles %}</span>
              </a>
            </li>
            <li class="usa-nav__submenu-item">
              <a href="{{ '/playbook/implementation/' | relative_url }}">
                <span>{% t nav.implementation %}</span>
              </a>
            </li>
          </ul>
        </li>
        <li class="usa-nav__primary-item">
          <a class="usa-nav__link {% if page.url == '/security/' %}usa-current{% endif %}" href="{{ '/security/' | relative_url }}">
            <span>{% t nav.security %}</span>
          </a>
        </li>
        <li class="usa-nav__primary-item">
          <button class="usa-accordion__button usa-nav__link {% if page.url contains '/partners/' %}usa-current{% endif %}" aria-controls="unique-id-1">
            <span>{% t nav.partners %}</span>
          </button>
          <ul id="unique-id-2" class="usa-nav__submenu">
            <li class="usa-nav__submenu-item">
              <a href="{{ '/partners/' | relative_url }}">
                <span>{% t nav.overview %}</span>
              </a>
            </li>
            <li class="usa-nav__submenu-item">
              <a href="{{ '/partners/our-agency-partners/' | relative_url }}">
                <span>{% t nav.our-agency-partners %}</span>
              </a>
            </li>
            <li class="usa-nav__submenu-item">
              <a href="{{ '/partners/why-login-gov/' | relative_url }}">
                <span>{% t nav.why-login-gov %}</span>
              </a>
            </li>
          </ul>
        </li>
        <li class="usa-nav__primary-item">
          <button class="usa-accordion__button usa-nav__link {% if page.url contains '/help/' %}usa-current{% endif %}" aria-controls="unique-id-1">
            <span>{% t nav.help %}</span>
          </button>
          <ul id="unique-id3" class="usa-nav__submenu">
            <li class="usa-nav__submenu-item">
              <a href="{{ '/help/' | relative_url }}">
                <span>{% t nav.overview %}</span>
              </a>
            </li>
            {% for subpage in site.help_pages %}
              {% assign subpage_slug = subpage | slugify %}
              {% assign subpage_link = site.help | where_exp: "item", "item.url contains subpage_slug" | where: 'order', 1 | first %}
              <li class="usa-nav__submenu-item">
                <a href="{{ subpage_link.url | relative_url }}">
                  <span>{{ site.translations[site.lang]["help_subpages"][subpage]}}</span>
                </a>
              </li>
            {% endfor %}
          </ul>
        </li>
        <li class="usa-nav__primary-item">
          <a class="usa-nav__link" href="{% if site.lang != 'en' %}https://secure.login.gov/{{site.lang}}/{% else %} https://secure.login.gov/ {% endif %}">
            <span>{% t nav.manage %}</span>
          </a>
        </li>

      </ul>
    </div>
    <div class="usa-nav__secondary">
      <div class="usa-nav__secondary-container">
        <form class="usa-search usa-search--small" id="search_form" action="https://search.usa.gov/search" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="&#x2713;" />
          <input type="hidden" name="affiliate" id="affiliate" value="login.gov" />
          <div role="search">
            <input type="text" name="query" id="query" autocomplete="off" class="usa-input" />
            <input type="submit" class="usa-button app-search" name="commit" value=" " data-disable-with="Search" />
          </div>
        </form>
      </div>
    </div>
  </nav>


  <!--<nav class="sm-flex flex-center z2 {{ site.lang }}-nav usa-nav">-->
    <!--<ul class="list-reset m0 sm-mt1">-->
      <!--<li class="sm-mr3 lang-nav-item">-->
        <!--<a href="{{ '/' | relative_url }}" class="blue caps text-decoration-none {% if page.url == '/' %}active{% endif %}">{% t nav.home %}</a>-->
      <!--</li>-->
      <!--<li class="sm-mr3 lang-nav-item dropdown">-->
        <!--<a href="{{ '/playbook/' | relative_url }}" class="blue caps text-decoration-none {% if page.url contains '/playbook/' %}active{% endif %}">{% t nav.playbook %}<span class="dropdown-arrow"> &#9662;</span></a>-->
        <!--<ul class="sm-show">-->
          <!--<li><a href="{{ '/playbook/' | relative_url }}">{% t nav.overview %}</a></li>-->
          <!--<li><a href="{{ '/playbook/principles/' | relative_url }}">{% t nav.principles %}</a></li>-->
          <!--<li><a href="{{ '/playbook/implementation/' | relative_url }}">{% t nav.implementation %}</a></li>-->
        <!--</ul>-->
      <!--</li>-->
      <!--</li>-->
      <!--<li class="sm-mr3 lang-nav-item">-->
        <!--<a href="{{ '/security/' | relative_url }}" class="blue caps text-decoration-none {% if page.url == '/security/' %}active{% endif %}">{% t nav.security %}</a>-->
      <!--</li>-->
      <!--<li class="sm-mr3 lang-nav-item dropdown">-->
        <!--<a href="{{ '/partners/' | relative_url }}" class="blue caps text-decoration-none {% if page.url contains '/partners/' %}active{% endif %}">{% t nav.partners %}<span class="dropdown-arrow"> &#9662;</span></a>-->
        <!--<ul class="sm-show">-->
          <!--<li><a href="{{ '/partners/' | relative_url }}">{% t nav.overview %}</a></li>-->
          <!--<li><a href="{{ '/partners/our-agency-partners/' | relative_url }}">{% t nav.our-agency-partners %}</a></li>-->
          <!--<li><a href="{{ '/partners/why-login-gov/' | relative_url }}">{% t nav.why-login-gov %}</a></li>-->
        <!--</ul>-->
      <!--</li>-->
      <!--</li>-->
      <!--<li class="sm-mr3 lang-nav-item dropdown">-->
        <!--<a href="{{ '/help/' | relative_url }}" class="blue caps text-decoration-none {% if page.url contains '/help/' %}active{% endif %}">{% t nav.help %}<span class="dropdown-arrow"> &#9662;</span></a>-->
        <!--<ul class="sm-show dropdown-min-width">-->
          <!--<li><a href="{{ '/help/' | relative_url }}">{% t nav.overview %}</a></li>-->
          <!--{% for subpage in site.help_pages %}-->
          <!--{% assign subpage_slug = subpage | slugify %}-->
          <!--{% assign subpage_link = site.help | where_exp: "item", "item.url contains subpage_slug" | where: 'order', 1 | first %}-->
          <!--<li>-->
            <!--<a href="{{ subpage_link.url | relative_url }}">-->
              <!--{{ site.translations[site.lang]["help_subpages"][subpage]}}-->
            <!--</a>-->
          <!--</li>-->
          <!--{% endfor %}-->
        <!--</ul>-->
      <!--</li>-->
      <!--<li>-->
        <!--{% if site.lang != 'en' %}-->
        <!--<a href="https://secure.login.gov/{{site.lang}}/" class="blue caps text-decoration-none">{% t nav.manage %}</a>-->
        <!--{% else %}-->
        <!--<a href="https://secure.login.gov/" class="blue caps text-decoration-none">{% t nav.manage %}</a>-->
        <!--{% endif %}-->
      <!--</li>-->
    <!--</ul>-->
  <!--</nav>-->
</header>


<!--<header class="usa-header usa-header&#45;&#45;extended" role="banner">-->
  <!--<div class="usa-navbar">-->
    <!--<div class="usa-logo" id="extended-logo">-->
      <!--<a href="javascript:;" title="Home" aria-label="Home" class="inline-block px-12p py1 sm-py3">-->
        <!--<img src="{{ site.baseurl }}/assets/img/logo.svg" alt="login.gov">-->
      <!--</a>-->

<!--&lt;!&ndash;"Pretty" one&ndash;&gt;-->
      <!--<form class="usa-search usa-search&#45;&#45;small" id="search_form" action="https://search.usa.gov/search" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="&#x2713;" />-->
        <!--<input type="hidden" name="affiliate" id="affiliate" value="login.gov" />-->
        <!--<div role="search">-->
          <!--<input type="text" name="query" id="query" autocomplete="off" class="usa-input" />-->
          <!--<input type="submit" class="usa-button" name="commit" value="Search" data-disable-with="Search" />-->
        <!--</div>-->
      <!--</form>-->

      <!--&lt;!&ndash;Ugly one&ndash;&gt;-->

      <!--&lt;!&ndash;<form id="search_form" action="https://search.usa.gov/search" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="&#x2713;" />&ndash;&gt;-->
        <!--&lt;!&ndash;<input type="hidden" name="affiliate" id="affiliate" value="login.gov" />&ndash;&gt;-->
        <!--&lt;!&ndash;<label for="query">Enter Search Term(s):</label>&ndash;&gt;-->
        <!--&lt;!&ndash;<input type="text" name="query" id="query" autocomplete="off" class="usagov-search-autocomplete" />&ndash;&gt;-->
        <!--&lt;!&ndash;<input type="submit" name="commit" value="Search" data-disable-with="Search" />&ndash;&gt;-->
      <!--&lt;!&ndash;</form>&ndash;&gt;-->
      <!--&lt;!&ndash;<button class="usa-menu-btn">Menu</button>&ndash;&gt;-->
    <!--</div>-->
  <!--</div>-->
<!--</header>-->
