<form accept-charset="UTF-8" action="https://search.usa.gov/search" class="usa-search usa-search--small" id="search_form" method="get">
  <input name="utf8" type="hidden" value="&#x2713;"/>
  <input id="affiliate" name="affiliate" type="hidden" value="login.gov"/>
  <div role="search">
    <input autocomplete="off" class="usa-input" id="query" name="query" type="search"/>
    <input type="submit" class="usa-button app-search" name="commit" value="{% t actions.search %}" data-disable-with="Search"/>
  </div>
</form>
