$white: #fff;
$grey: color("base");
$grey-darker: color("base-darker");
$black: color("base-darkest");

$blue: color("primary");
$blue-light: color("primary-light");
$blue-lighter: color("primary-lighter");
$blue-lightest: color("primary-lightest");
$blue-mid: color("primary-dark");
$navy: color("primary-darker");

$red: color("secondary");
