$white: #fff !default;
$gray: #5b616a !default;
$black: #111 !default;

$blue: $theme-color-primary; // #0071bb;
$blue-light: #ebf3fa !default;
$blue-lightest: #f2f9ff !default;
$blue-mid: #1c5899;
$navy: #112e51;

$red: #e21c3d;
