$white: #fff;
$gray: color("base");
$black: color("base-darkest");

$blue: color("primary");
$blue-light: color("primary-lighter");
$blue-lightest: color("primary-lightest");
$blue-mid: color("primary-dark");
$navy: color("primary-darker");

$red: color("secondary");
