@forward 'colors';
@forward 'variables';

@forward 'mixins/all';
@forward 'components/all';

@forward 'pages/home';
@forward 'pages/what_is_login';
@forward 'pages/who_uses_login';
@forward 'pages/create_an_account';
@forward 'pages/not_found';
@forward 'pages/policy';
@forward 'pages/partners';

.location-collection-item {
  max-width: 64ex;
  list-style-type: none;
  padding-left: 0;
  align-items: flex-start;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  display: flex;
  margin-bottom: 1rem;
  margin-top: 1rem;
  padding-bottom: 1rem;
  border-color: color('primary-light');

  &:last-child {
    border-bottom-style: none;
    padding-bottom: 0;
  }
}
