$serif-font-family: "Public Sans", "Merriweather", "Georgia", "Cambria",
  "Times New Roman", "Times", serif !default;
$sans-serif-font-family: "Public Sans", "Source Sans Pro", "Helvetica Neue",
  "Helvetica", "Roboto", "Arial", sans-serif !default;
$monospace-font-family: "Public Sans", "Source Code Pro", Consolas, monospace !default;

$base-font-size: 16px !default;
$line-height: 1.5 !default;

$link-text-decoration: underline !default;

$border-width: 1px !default;
$border-color: #cedbec !default;
$border-color-secondary: $blue-mid !default;

$icon-width: 0.8rem;

$space-tiny: 0.25rem !default;
$space-1: 0.5rem !default;
$space-2: 1rem !default;
$space-3: 2rem !default;

$bold-font-weight: bold;
$field-focus-color: $theme-color-disabled-dark;
