@use 'uswds-core' as *;
@use 'colors' as *;

$base-font-size: 16px;
$base-font-sm: ($base-font-size - 3);
$base-font-xs: ($base-font-size * 0.75);
$line-height: 1.875rem;
$line-height-sm: 1.75rem;
$line-height-md: 1.375rem;
$base-font-color: $grey-darker;

$link-text-decoration: underline !default;

$border-color: $blue-light;
$border-color-secondary: $blue-mid !default;
$border-style: 1px solid $border-color;
$border-radius: 8px;

$space-tiny: 0.25rem !default;
$space-1: 0.5rem !default;

$bold-font-weight: bold;

$container-size: 'desktop-lg';
$max-width: units($container-size);
$max-width-sm: 368px; // used in footer .questions_addl_info
$max-width-custom: ($max-width - 7); // 1168px
$container-spacing: 3.5rem;
$container-spacing-sm: 1rem;
