---
layout: partners/program-update
lang: en
title: Login.gov Begins Passport-based Identity Verification
date: 2025-08-21T14:28:00.000Z
preview: Login.gov is expanding access with its roll out of U.S. passports as an
  option for remote identity verification.
---


![Illustration of passport-like document with green checkmark in upper right corner. ](/assets/img/approved-passport.png "Passports as evidence")

Login.gov has begun accepting U.S. passports as identity evidence for remote identity verification as part of a gradual roll out. It is anticipated that all remote identity verification users will see the option to use a U.S. passport book by the end of September. This new proofing option is an example of how the Login.gov digital identity platform is bringing together the best of private sector tooling with authoritative government records in order to increase access and combat fraud.

In a recent [GSA press release](https://www.gsa.gov/about-us/newsroom/news-releases/gsas-logingov-launches-passportbased-identity-verification-08202025), Acting GSA Administrator Michael Rigas said, “This is a major milestone for GSA and the federal government’s digital service ecosystem. Login.gov is at the forefront of the Administration’s efforts to create efficiencies and combat fraud, and initiatives like this are a great example of doing both.”
