@use 'uswds-core' as *;
@use '../variables' as *;

.new-user-interface {
  padding-top: $container-spacing;
  padding-bottom: $container-spacing;

  img {
    border-radius: $border-radius;
  }

  .full-measure {
    max-width: none;

    > *,
    .usa-list li {
      max-width: none;
    }
  }
}
