@use 'uswds-core' as *;
@use '../variables' as *;

.container.what-is-login {
  .one-account,
  .secure-account-container,
  .how-it-works {
    padding: 2rem 0;
  }

  .secure-account-container,
  .how-it-works {
    border-top: $border-style;
  }

  .mobile {
    display: block;

    &.one-account-img {
      background: url(../img/what-is-login/one-account/what-is-one-account.png) center
        center/contain no-repeat;
      height: 17rem;
    }
  }

  .text-column {
    display: block;
    margin-top: 2rem;
    padding: 1rem 0;
  }

  .lock-image {
    display: none;
  }

  .how-it-works-image {
    max-width: 90%;
  }
}

@include at-media('tablet') {
  .container.what-is-login {
    .secure-account-container {
      padding: 2rem 0;
    }

    .one-account {
      display: flex;
    }

    .participating-agencies {
      padding-right: 2em;
    }

    .banner-text {
      padding-right: 30%;
      padding-bottom: 2rem;
    }

    .mobile {
      display: none;
    }

    .lock-image {
      display: block;
    }

    .image-container {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .pad-left-element {
      padding-right: 2em;
    }
  }
}

#logingov-is-trusted-by {
  font-size: 1.125rem;
  margin-top: 1.5rem;
}
