.container.what-is-login {
  .one-account,
  .secure-account {
    padding: 2rem 0;
  }

  .secure-account {
    border-top: $border-style;
  }

  .mobile {
    display: block;

    &.one-account-img {
      background: url(../img/what-is-login/one-account/what-is-one-account.png)
        center center/contain no-repeat;
      height: 17rem;
    }

    &.secure-account-img {
      background: url(../img/what-is-login/security/what-is-security.png) center
        center/contain no-repeat;
      height: 10rem;
      margin-top: 2rem;
    }
  }
}

@include at-media("tablet") {
  .container.what-is-login {
    .one-account {
      background: url(../img/what-is-login/one-account/what-is-one-account.png)
        left center no-repeat;
      padding: 3rem 0 3rem 50%;
      background-size: 45%;
    }

    .secure-account {
      border-top: $border-style;
      background: url(../img/what-is-login/security/what-is-security.png) right
        center no-repeat;
      padding: 6rem 50% 6rem 0;
    }

    .mobile {
      display: none;
    }
  }
}

#logingov-is-trusted-by {
  font-size: 1.125rem;
  margin-top: 1.5rem;
}
