@use 'uswds-core' as *;
@use '../variables' as *;

#our-partners {
  line-height: line-height($theme-body-font-family, $theme-body-line-height);
}

.container.who-uses-login {
  line-height: 1.875rem;

  .partners {
    background: url(../img/who-uses-login/who-uses-illo-partners/who-uses-illo-partners.svg) left
      center no-repeat;
    padding: 3rem 0 3rem 40%;
  }

  .security {
    display: flex;
    padding: 3rem 0;

    > p {
      flex-basis: 0;
      flex-grow: 1;
      line-height: line-height($theme-body-font-family, $theme-body-line-height);

      &:first-child {
        background: url(../img/who-uses-login/icon-shield/icon-shield.svg) left top no-repeat;
        padding: 0 2rem 0 3rem;
      }

      &:last-child {
        background: url(../img/homepage/icon-partner/icon-partners.svg) 0.4rem -0.5rem no-repeat;
        border-left: $border-style;
        margin-left: -0.75rem;
        padding: 0 2rem 0 4rem;
      }
    }
  }

  .mobile {
    display: none;
  }
}

.who-uses-login ~ .one-account-for-govt {
  margin-top: 0;
  margin-bottom: 5rem;
}

@include at-media-max('desktop') {
  .container.who-uses-login {
    h2 {
      margin-top: 0;
      padding-top: 1em;
    }

    .partners {
      background: none;
      margin-bottom: 2rem;
      padding: 1rem;
    }

    .security {
      display: block;
      padding: 2rem 1rem;

      > p {
        &:last-child {
          border-left: none;
          margin-left: 0;
          padding-left: 3rem;
          background-position-x: -0.4rem;
        }
      }
    }

    .mobile {
      display: block;

      &.partners-img {
        background: url(../img/who-uses-login/who-uses-illo-partners/who-uses-illo-partners.png)
          center center/contain no-repeat;
        height: 7rem;
        margin-top: 2rem;
      }
    }
  }

  .who-uses-login ~ .one-account-for-govt {
    margin: 0 1rem 5rem;

    .tagline {
      font-size: 1.15rem;
    }

    .link {
      font-size: 1rem;
    }
  }
}
