---
---

@charset "UTF-8";

// TODO: Remove after identity-style-guide@6.3.0
$theme-font-type-sans: "public-sans";
$theme-font-type-serif: "public-sans";
$theme-identifier-background-color: "primary-darker";
$theme-identifier-identity-domain-color: "primary-light";
$theme-identifier-secondary-link-color: "primary-light";
$theme-link-reverse-color: "white";
$theme-link-reverse-hover-color: "primary-light";
$theme-link-reverse-active-color: "white";

@import "identity-style-guide/dist/assets/scss/styles";

@import "colors";
@import "variables";

@import "mixins/all";
@import "components/all";

@import "pages/home";
@import "pages/what_is_login";
@import "pages/who_uses_login";
@import "pages/create_an_account";
@import "pages/not_found";
@import "pages/policy";
