<article class="container {{ include.class }} page-content__prose">
  <div class="one-account page-content__prose">
    {{ include.col1 | markdownify }}
  </div>
  <div class="how-it-works page-content__prose">
    <div class="banner-text">
      {{ include.bannertext | markdownify }}
    </div>
    <div class="text-container grid-row">
      <div class="text-column participating-agencies tablet:grid-col-6">
        {{ include.bannercol1 | markdownify }}
      </div>
      <div class="text-column agencies-verify tablet:grid-col-6">
        {{ include.bannercol2 | markdownify }}
      </div>
    </div>
  </div>
  <div class="secure-account-container">
    <div class="page-content__prose tablet:grid-col-7">
      {{ include.col2 | markdownify }}
    </div>
    <div class="image-container">
      <img src="/assets/img/what-is-login/security/what-is-security.png" alt="A gold lock" class="tablet:grid-col-6 lock-image" />
    </div>
  </div>

</article>
