<article class="container {{ include.class }} page-content__prose">
  <div class="one-account page-content__prose tablet:grid-row">
    <div class="tablet:grid-col-6 pad-left-element">
      <img 
        src="{{ site.baseurl }}/assets/img/what-is-one-account@2x.png" 
        class="lock-image" 
        alt=""
        aria-hidden="true"
        role="img"
      />
    </div>
    <div class="tablet:grid-col-6">
      {{ include.col1 | markdownify }}
    </div>
  </div>
  <div class="how-it-works page-content__prose">
    <div class="banner-text">
      {{ include.bannertext | markdownify }}
    </div>
    <div class="text-container grid-row">
      <div class="text-column tablet:grid-col-6 pad-left-element">
          <img 
            src="{{ site.baseurl }}/assets/img/how-it-works1@2x.png" 
            alt=""
            aria-hidden="true"
            role="img" 
          />
        {{ include.bannercol1 | markdownify }}
      </div>
      <div class="text-column tablet:grid-col-6">
        <img 
          src="{{ site.baseurl }}/assets/img/how-it-works2@2x.png"
          alt=""
          aria-hidden="true"
          role="img"
        />
        {{ include.bannercol2 | markdownify }}
      </div>
    </div>
  </div>
  <div class="secure-account-container grid-row">
    <div class="page-content__prose tablet:grid-col-6">
      {{ include.col2 | markdownify }}
    </div>
    <div class="image-container tablet:grid-col-6">
      <img 
        src="/assets/img/what-is-login/security/what-is-security.png"
        alt=""
        aria-hidden="true" 
        class="tablet:grid-col-6 lock-image" 
      />
    </div>
  </div>

</article>
