{% comment %}
includes
- class
- col1
- bannertext
- bannercol1
- bannercol2
- col2
{% endcomment %}
<div class="container container--mod {{ include.class }}">
  <div class="one-account tablet:grid-row">
    <div class="tablet:grid-col-6 pad-left-element">
      <img
        alt=""
        aria-hidden="true"
        class="lock-image"
        src="{{ site.baseurl }}/assets/img/what-is-one-account@2x.png"
      />
    </div>
    <div class="tablet:grid-col-6 usa-prose">
      {{ include.col1 | markdownify }}
    </div>
  </div>
  <div class="how-it-works">
    <div class="banner-text usa-prose">
      {{ include.bannertext | markdownify }}
    </div>
    <div class="text-container grid-row">
      <div class="text-column tablet:grid-col-6 pad-left-element usa-prose">
        <img
          alt
          aria-hidden="true"
          class="how-it-works-image"
          src="{{ site.baseurl }}/assets/img/how-it-works1.svg"
        />
        {{ include.bannercol1 | markdownify }}
      </div>
      <div class="text-column tablet:grid-col-6 usa-prose">
        <img
          alt
          aria-hidden="true"
          class="how-it-works-image pad-left-element"
          src="{{ site.baseurl }}/assets/img/how-it-works2.svg"
        />
        {{ include.bannercol2 | markdownify }}
      </div>
    </div>
  </div>
  <div class="secure-account-container grid-row">
    <div class="usa-prose tablet:grid-col-6">
      {{ include.col2 | markdownify }}
    </div>
    <div class="image-container tablet:grid-col-6">
      <img
        src=" {{ site.baseurl }}/assets/img/what-is-security.png"
        alt=""
        aria-hidden="true"
        class="tablet:grid-col-6 lock-image"
      />
    </div>
  </div>
</div>
