<article class="container {{ include.class }}">
    <header class="intro"><h2>{{ include.heading }}</h2></header>
    <div class="grid-row">
      <div class="tablet:grid-col">
        <h3 class="hdr {{ include.col_class1}}">{{ include.subheading1 }}</h3>
        {{ include.col1 | replace: 'site.baseurl', site.baseurl | markdownify }}
      </div>
      <div class="tablet:grid-col">
        <h3 class="hdr {{ include.col_class2}}">{{ include.subheading2 }}</h3>
        {{ include.col2 | replace: 'site.baseurl', site.baseurl | markdownify }}
      </div>
      <div class="tablet:grid-col">
        <h3 class="hdr {{ include.col_class3}}">{{ include.subheading3 }}</h3>
        {{ include.col3 | replace: 'site.baseurl', site.baseurl | markdownify }}
      </div>
    </div>
  </article>

