<article class="container why-login-gov">
    <header class="intro"><h2>{{ include.heading | prepend: site.baseurl }}</h2></header>
    <div class="grid-row">
      <div class="tablet:grid-col">
        <h3 class="hdr individuals">{{ include.subheading1 }}</h3>
        {{ include.col1 | prepend: site.baseurl | markdownify }}
      </div>
      <div class="tablet:grid-col">
        <h3 class="hdr partners">{{ include.subheading2 }}</h3>
        {{ include.col2 | prepend: site.baseurl | markdownify }}
      </div>
      <div class="tablet:grid-col">
        <h3 class="hdr developers">{{ include.subheading3 }}</h3>
        {{ include.col3 | prepend: site.baseurl | markdownify }}
      </div>
    </div>
  </article>
  
