<ul class="usa-icon-list usa-icon-list--size-{{ include.size }}"  {% if include.style_fix %}style="{{ include.style_fix }}"{% endif %}>
    {% for item in include.items %}
    <li class="usa-icon-list__item">
        <div class="usa-icon-list__icon text-{{ include.icon_color }}">
            {% include components/svg-icon.html shape=include.icon_shape %}
        </div>
        <div class="usa-icon-list__content">
            {{ item |markdownify | remove: '<p>' | remove: '</p>' }}
        </div>
    </li>
    {% endfor %}
</ul>
