{% comment %}
include
- do_dont_class
- do_dont_icon
- do_dont_text
- image_alt_text
- image 
- fully_bordered
- text
{% endcomment %}
<div class="usa-image-example {{ include.do_dont_class }}">
  <figure class="usa-image-example__figure">
    <img
      alt="{{ include.image_alt_text }}"
      class="usa-image-example__image {{ include.fully_bordered }}"
      src="{{ site.baseurl }}{{ include.image }}"
    />
    <figcaption class="usa-image-example__figcaption">
      <ul class="usa-icon-list usa-icon-list--size-md">
        <li class="usa-icon-list__item">
          <div class="usa-icon-list__icon">
            <svg class="usa-icon" aria-hidden="true" role="img">
              <use xlink:href="{{ site.baseurl }}{{ include.do_dont_icon }}"></use>
            </svg>
          </div>
          <div class="usa-icon-list__content">
            <span class="image-example__do-dont">{{ include.do_dont_text }}: </span>{{ include.text }}
          </div>
        </li>
      </ul>
    </figcaption>
  </figure>
</div>