{% comment %}
include
- image_alt_text
- image 
- bordered_image
- text
{% endcomment %}

<div class="usa-image-example">
  <figure class="usa-image-example__figure">
    <img
      alt="{{ include.image_alt_text }}"
      class="usa-image-example__image"
      src="{{ site.baseurl }}{{ include.image }}"
    />
    <figcaption class="usa-image-example__figcaption margin-bottom-4">
      <ul class="usa-icon-list usa-icon-list--size-md">
        <li class="usa-icon-list__item">
          <div class="usa-icon-list__content">
            {{ include.text }}
          </div>
        </li>
      </ul>
    </figcaption>
  </figure>
</div>
