{% if site.show_po_search == true %}
  <div
    id="post-office-search"
    data-address-search-url="{{ site.po_search_address_search_url }}"
    data-locations-search-url="{{ site.po_search_locations_search_url }}"
  ></div>

  {% assign timestamp = site.time | date: '%s' %}
  {% assign uncached_translations_path = page.po_search_translations._idp_translations_file | append: '?ts=' | append: timestamp %}

  <script src="{{uncached_translations_path | relative_url}}"></script>
  <script src="{{'/assets/js/post_office_search.js' | relative_url}}"></script>
{% endif %}
