<div
  id="post-office-search"
  class="find-a-participating-post-office"
  data-address-search-url="{{ site.po_search_address_search_url }}"
  data-locations-search-url="{{ site.po_search_locations_search_url }}"
></div>

{% assign timestamp = site.time | date: '%s' %}
{% assign uncached_translations_path = page.idp_translations_file | append: '?ts=' | append: timestamp %}

<script src="{{ uncached_translations_path | relative_url }}"></script>
<script>
  Object.assign(window._locale_data, {{ page.translations | jsonify }})
</script>
<script src="{{ '/assets/js/post_office_search.js' | relative_url }}"></script>
