<aside class="who-uses-login">
    <div class="bg-primary-lightest">
      <div class="container who-uses-login">
        <div class="partners list">
          {{ site.data[page.lang].settings["who-uses-login-page"]["partners"] | replace: 'site.baseurl', site.baseurl | markdownify }}
        </div>
      </div>
    </div>
  
    <div>
      <div class="container who-uses-login">
        <div class="security">
          {{ site.data[page.lang].settings["who-uses-login-page"]["security"] | replace: 'site.baseurl', site.baseurl | markdownify }}
        </div>
      </div>
    </div>
  </aside>