---
layout: base
---
<header>
  {% include skip_nav.html %}
  {% include banner.html %}
  {% include partners/header.html %}
</header>
<main id="main-content">
    <section>
        <div class="container partners-container">
          <h1 class="partners-title">{{ page.title }}</h1>
            <div class="grid-row">
                <div class="tablet:grid-col-9 accordion-container">
                  <div class="partners-border"></div>
                  <div class="section-title-row">
                    <div id="general-section" class="section-title-left">{{ page.general_section_title | markdownify}}</div>
                    <button
                      class="section-title-right collapse-expand-btn-general usa-button usa-button--unstyled"
                      onclick="javascript:updateAllAccordions('general')">
                      Expand all General FAQ
                    </button>
                  </div>
                  <div class="usa-accordion usa-accordion--bordered margin-bottom-1">
                      {% for item in page.general_accordion %}
                        <h3 class="usa-accordion__heading">
                          <button
                            onclick="updateSingleAccordion(this, 'general')"
                            class="usa-accordion__button login-accordion-btn-general"
                            aria-expanded="false"
                            aria-controls={{ item.id }}
                            >
                            {{ item.title }}
                          </button>
                        </h3>
                        <div id={{ item.id }} class="usa-accordion__content login-accordion-content-general">
                        {{ item.content | markdownify}}
                        </div>
                      {% endfor %}
                  </div>
                  <a href="#main-content" class="usa-link anchor-to-top">Back to top</a>
                  <div class="section-title-row margin-top-5">
                    <div id="logistics-section" class="section-title-left">{{ page.logistics_section_title | markdownify}}</div>
                    <button
                      class="section-title-right collapse-expand-btn-logistics usa-button usa-button--unstyled"
                      onclick="javascript:updateAllAccordions('logistics')">
                      Expand all Logistics FAQ
                    </button>
                  </div>
                  <div class="usa-accordion usa-accordion--bordered margin-bottom-1">
                      {% for item in page.logistics_accordion %}
                        <h3 class="usa-accordion__heading">
                          <button
                            onclick="updateSingleAccordion(this, 'logistics')"
                            class="usa-accordion__button login-accordion-btn-logistics"
                            aria-expanded="false"
                            aria-controls={{ item.id }}
                            >
                            {{ item.title }}
                          </button>
                        </h3>
                        <div id={{ item.id }} class="usa-accordion__content login-accordion-content-logistics">
                        {{ item.content | markdownify}}
                        </div>
                      {% endfor %}
                  </div>
                  <a href="#main-content" class="usa-link anchor-to-top">Back to top</a>
                  <div class="section-title-row margin-top-5">
                    <div id="development-section" class="section-title-left">{{ page.development_section_title | markdownify}}</div>
                    <button
                      class="section-title-right collapse-expand-btn-development usa-button usa-button--unstyled"
                      onclick="javascript:updateAllAccordions('development')">
                      Expand all Development FAQ
                    </button>
                  </div>
                  <div class="usa-accordion usa-accordion--bordered margin-bottom-1">
                      {% for item in page.development_accordion %}
                        <h3 class="usa-accordion__heading">
                          <button
                            onclick="updateSingleAccordion(this, 'development')"
                            class="usa-accordion__button login-accordion-btn-development"
                            aria-expanded="false"
                            aria-controls={{ item.id }}
                            >
                            {{ item.title }}
                          </button>
                        </h3>
                        <div id={{ item.id }} class="usa-accordion__content login-accordion-content-development">
                        {{ item.content | markdownify}}
                        </div>
                      {% endfor %}
                  </div>
                  <a href="#main-content" class="usa-link anchor-to-top">Back to top</a>
                </div>
                <div class="tablet:grid-col-3">
                  <section>
                      <nav aria-label="{{ site.data.en.settings.accessible_labels.secondary_navigation }}">
                          <ul class="usa-sidenav">
                            <li class="usa-sidenav__item">
                              <a href="#main-content" class="usa-current">FAQ</a>
                              <ul class="usa-sidenav__sublist">
                                  <li class="usa-sidenav__item">
                                    <a href="#general-section">General</a>
                                  </li>
                                  <li class="usa-sidenav__item">
                                    <a href="#logistics-section">Logistics</a>
                                  </li>
                                  <li class="usa-sidenav__item">
                                    <a href="#development-section">Development</a>
                                  </li>
                                </ul>
                            </li>
                            <li class="usa-sidenav__item">
                              <a href="{{ '/partners/business-inquiries/' | locale_url }}">Business inquiries</a>
                            </li>
                          </ul>
                        </nav>
                  </section>
                </div>
            </div>
        </div>
    </section>
</main>
{% include partners/partners-banner.html %}
{% include partners/footer.html %}
<script charset="utf-8" type="text/javascript" src='{{ "/assets/js/faqs.js" | relative_url }}'></script>
