---
layout: base
---
<header>
  {% include skip_nav.html %}
  {% include banner.html %}
  {% include partners/header.html %}
</header>
<main id="main-content">
    <section>
        <div class="container partners-container">
            <div class="grid-row">
                <div class="partners-body partners-title">{{ page.title | markdownify }}</div>
                <div class="tablet:grid-col-12 partners-border"></div>
                <div class="tablet:grid-col-12 partners-subtitle"> {{ page.body | markdownify }}</div>
            </div>
            <div class="grid-row">
                <div class="tablet:grid-col-12">{{ page.partnership_steps_title | markdownify }}</div>
            </div>
            <div class="grid-row">
                <div class="tablet:grid-col-12">
                    <ol class="usa-process-list">
                        <li class="usa-process-list__item">
                          <h4 class="usa-process-list__heading">Start a process</h4>
                          <p class="margin-top-05">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Morbi commodo,
                            ipsum sed pharetra gravida, orci magna rhoncus neque.
                          </p>
                          <ul>
                            <li>
                              Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Morbi commodo,
                              ipsum sed pharetra gravida, orci magna rhoncus neque, id pulvinar odio
                              lorem non turpis.
                            </li>
                            <li>
                              Nullam sit amet enim. Suspendisse id velit vitae ligula volutpat
                              condimentum.
                            </li>
                            <li>Aliquam erat volutpat. Sed quis velit.</li>
                          </ul>
                        </li>
                        <li class="usa-process-list__item">
                          <h4 class="usa-process-list__heading">Proceed to the second step</h4>
                          <p>
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Morbi commodo,
                            ipsum sed pharetra gravida, orci magna rhoncus neque, id pulvinar odio
                            lorem non turpis. Nullam sit amet enim. Suspendisse id velit vitae ligula
                            volutpat condimentum. Aliquam erat volutpat. Sed quis velit. Nulla
                            facilisi. Nulla libero. Vivamus pharetra posuere sapien.
                          </p>
                        </li>
                        <li class="usa-process-list__item">
                          <h4 class="usa-process-list__heading">Complete the step-by-step process</h4>
                          <p>
                            Nullam sit amet enim. Suspendisse id velit vitae ligula volutpat
                            condimentum. Aliquam erat volutpat. Sed quis velit. Nulla facilisi. Nulla
                            libero. Vivamus pharetra posuere sapien.
                          </p>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="padding-top-8 padding-bottom-8 bg-primary-lightest">
            <div class="container">
                <div class="grid-row">
                    <div class="tablet:grid-col-2 padding-top-4">
                        <img src="{{ site.baseurl }}/assets/img/partners/ssa-logo.svg">
                    </div>
                    <div class="tablet:grid-col-9 tablet:grid-offset-1 partners-body">
                        {{ page.ssa_quote | markdownify }}
                    </div>
                </div>
            </div>
        </div>
        <div class="container partners-container">
            <div class="grid-row">
                <div class="tablet:grid-col-12">{{ page.iaa_steps_title | markdownify }}</div>
                <div class="tablet:grid-col-6 partners-body">
                    {{ page.iaa_tips | markdownify }}
                </div>
                <div class="tablet:grid-col-6">
                    <ol class="usa-process-list">
                        <li class="usa-process-list__item">
                          <h4 class="usa-process-list__heading">Start a process</h4>
                          <p class="margin-top-05">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Morbi commodo,
                            ipsum sed pharetra gravida, orci magna rhoncus neque.
                          </p>
                          <ul>
                            <li>
                              Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Morbi commodo,
                              ipsum sed pharetra gravida, orci magna rhoncus neque, id pulvinar odio
                              lorem non turpis.
                            </li>
                            <li>
                              Nullam sit amet enim. Suspendisse id velit vitae ligula volutpat
                              condimentum.
                            </li>
                            <li>Aliquam erat volutpat. Sed quis velit.</li>
                          </ul>
                        </li>
                        <li class="usa-process-list__item">
                          <h4 class="usa-process-list__heading">Proceed to the second step</h4>
                          <p>
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Morbi commodo,
                            ipsum sed pharetra gravida, orci magna rhoncus neque, id pulvinar odio
                            lorem non turpis. Nullam sit amet enim. Suspendisse id velit vitae ligula
                            volutpat condimentum. Aliquam erat volutpat. Sed quis velit. Nulla
                            facilisi. Nulla libero. Vivamus pharetra posuere sapien.
                          </p>
                        </li>
                        <li class="usa-process-list__item">
                          <h4 class="usa-process-list__heading">Complete the step-by-step process</h4>
                          <p>
                            Nullam sit amet enim. Suspendisse id velit vitae ligula volutpat
                            condimentum. Aliquam erat volutpat. Sed quis velit. Nulla facilisi. Nulla
                            libero. Vivamus pharetra posuere sapien.
                          </p>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
</main>
{% include partners/partners-banner.html %}
{% include footer.html %}