---
layout: base
---
<header>
  {% include skip_nav.html %}
  {% include banner.html %}
  {% include partners/header.html %}
</header>
<main id="main-content">
    <section>
        <div class="container partners-container">
            <h1 class="partners-title">{{ page.title }}</h1>
            <div class="grid-row">
                <div class="tablet:grid-col-8 partners-body">
                    <div class="partners-border"></div>
                    <div>{{ page.subtitle | markdownify }}</div>
                    <div class="partners-body">{{ page.body | markdownify }}</div>
                    <div class="partners-body padding-top-2">{{ page.challenge | markdownify }}</div>
                    <div class="partners-body padding-top-2">{{ page.solution | markdownify }}</div>
                    <div class="partners-body padding-top-2">{{ page.impact | markdownify }}</div>
                    
		            <!-- testing !-->
		            <div class="grid-row grid-gap-6">
						<div class="tablet:grid-col-12 partners-subtitle partners-blue-box">
						  <div>{{ page.callout_tips | markdownify }}</div>
						</div>
		            </div>

                    <div class="partners-body padding-top-2 padding-bottom-2">{{ page.key_shifts | markdownify }}</div>
                    <a href="{{ '/partners/impact-stories/' | locale_url }}" class="partners-body caret">Read more impact stories</a>
                </div>
                <div class="tablet:grid-col-4 padding-left-2">
                    {% include partners/impact-stories-navigation.html %}
                </div>
            </div>       
        </div>
    </section>
</main>
{% include partners/partners-banner.html %}
{% include partners/footer.html %}
