---
layout: base
---
<header>
  {% include skip_nav.html %}
  {% include banner.html %}
  {% include partners/header.html %}
</header>
<main id="main-content">
    <section>
        <div class="container partners-container">
            <div class="grid-row">
                <h1 class="partners-title">{{ page.title }}</h1>
                <div class="tablet:grid-col-12 partners-border"></div>
                <div class="tablet:grid-col-12">
                    <div>{{ page.subtitle | markdownify}}</div>
                    <div class="partners-subtitle">{{ page.body | markdownify}}</div>
                </div>
            </div>
            {% for impact_story in site.partners_impact_stories %}
                <div class="grid-row grid-gap-6 padding-top-4">
                    <div class="tablet:grid-col-2">
                        <img src="{{ site.baseurl }}/{{ impact_story.logo }}" alt='{{ impact_story.agency }}'>
                    </div>
                    <div class="tablet:grid-col-9 margin-top-3">
                        <a href="{{ impact_story.url | locale_url | prepend: site.baseurl }}" class="text-middle partners-subtitle caret">
                            <b>{{ impact_story.agency }}</b>
                        </a>
                        <div class="partners-body text-middle padding-top-2">{{ impact_story.summary }}</div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
</main>
{% include partners/partners-banner.html %}
{% include partners/footer.html %}
