---
layout: base
---
<header>
  {% include skip_nav.html %}
  {% include banner.html %}
  {% include partners/header.html %}
</header>
<main id="main-content">
  {% include hero.html class=page.class heading=page.title text=page.description %}
  {% include components/3-col.html class=page.class heading=page.services.heading subheading1=page.services.subheading1 col_class1=page.services.col_class1 col1=page.services.col1 subheading2=page.services.subheading2 col_class2=page.services.col_class2 col2=page.services.col2 subheading3=page.services.subheading3 col_class3=page.services.col_class3 col3=page.services.col3 %}
  {% include partners/checklist.html heading=page.right_for_you.heading items=page.right_for_you.items %}
  <div class="full-width-color">
    {% include partners/x-col.html class=page.who_we_work_with.class heading=page.who_we_work_with.heading items=page.who_we_work_with.items link=page.who_we_work_with.link %}
  </div>
  {% include partners/x-col.html class=page.nist_fedramp.class heading=page.nist_fedramp.heading items=page.nist_fedramp.items link=page.nist_fedramp.link %}
</main>
{% include partners/partners-banner.html %}
{% include partners/footer.html %}
