---
layout: base
---
<header>
  {% include skip_nav.html %}
  {% include banner.html %}
  {% include partners/header.html %}
</header>
<main id="main-content">
    <section>
        <div class="container partners-container">
            <div class="grid-row">
                <h1 class="partners-title">{{ page.title }}</h1>
                <div class="tablet:grid-col-12 partners-border"></div>
                <div class="tablet:grid-col-12">
                    <div>{{ page.subtitle | markdownify}}</div>
                    <div class="partners-subtitle">{{ page.subsection | markdownify}}</div>
                </div>
            </div>
            <div class="grid-row padding-top-2">
                <div class="tablet:grid-col-6">
                  <img class="padding-top-7 padding-right-6" src="{{ site.baseurl }}/assets/img/partners/mfa.svg" alt='A person using an authentication app on their phone as a security measure.'>
                </div>
                <div class="tablet:grid-col-6 partners-body">
                    {{ page.self_identity_auth | markdownify }}
                </div>
            </div>
            <div class="grid-row padding-top-2">
                <div class="tablet:grid-col-6">
                    <img class="padding-top-7 padding-right-6" src="{{ site.baseurl }}/assets/img/partners/ial1.svg" alt='A person verifying their identity with an identification card.'>
                </div>
                <div class="tablet:grid-col-6 partners-body">
                    {{ page.verified_identity_auth | markdownify }}
                </div>
            </div>
            <div class="grid-row padding-top-2">
                <div class="tablet:grid-col-6">
                    <!-- TODO: CONFIRM ALT TEXT !-->
                    <img class="padding-top-7 padding-right-6" src="{{ site.baseurl }}/assets/img/partners/ial2.svg" alt='A person verifying their identity via their phone or post office.'>
                </div>
                <div class="tablet:grid-col-6 partners-body">
                    {{ page.enhanced_identity_verification | markdownify }}
                </div>
            </div>            
        </div>
        <div class="padding-top-2 bg-primary-lightest">
            <div class="container">
                <div class="tablet:grid-col-12">
                    {{ page.benefits | markdownify }}
                </div>
                <div class="grid-row">
                    <div class="tablet:grid-col-5 partners-body">
                        <div class="thumbs-up padding-y-1">{{ page.benefit1 | markdownify }}</div>
                        <div class="thumbs-up padding-y-1">{{ page.benefit2 | markdownify }}</div>
                    </div>
                    <div class="tablet:grid-col-5 partners-body tablet:grid-offset-1">
                        <div class="thumbs-up padding-y-1">{{ page.benefit3 | markdownify }}</div>
                        <div class="thumbs-up padding-y-1">{{ page.benefit4 | markdownify }}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container partners-container">
            <div class="grid-row">
                <div class="tablet:grid-col-12">
                    {{ page.resources | markdownify }}
                </div>
            </div>
            <div class="grid-row">
                <div class="tablet:grid-col-6">
                    <img class="padding-top-6 padding-right-6" src="{{ site.baseurl }}/assets/img/partners/customer-support.svg" alt='A customer support specialist with a headset greeting you in Spanish, English, and French.'>
                </div>
                <div class="tablet:grid-col-6 partners-body">
                    {{ page.end_user_support | markdownify }}
                </div>
            </div>
            <div class="grid-row padding-top-2">
                <div class="tablet:grid-col-6">
                    <!-- TODO: CONFIRM ALT TEXT !-->
                    <img class="padding-top-6 padding-right-6" src="{{ site.baseurl }}/assets/img/partners/accessibility.svg" alt='TODO: CONFIRM ALT TEXT.'>
                </div>
                <div class="tablet:grid-col-6 partners-body">
                    {{ page.accessibility_multilingual_support | markdownify }}
                </div>
            </div>
            <div class="grid-row padding-top-2">
                <div class="tablet:grid-col-6">
                    <img class="padding-top-6 padding-right-6" src="{{ site.baseurl }}/assets/img/partners/tech.svg" alt='An integration engineer with a computer standing by for technical support.'>
                </div>
                <div class="tablet:grid-col-6 partners-body">
                    {{ page.technical_support | markdownify }}
                </div>
            </div>
        </div>
    </section>
</main>
{% include partners/partners-banner.html %}
{% include partners/footer.html %}
