---
layout: base
---
<header>
  {% include skip_nav.html %}
  {% include banner.html %}
  {% include partners/header.html %}
</header>
<main id="main-content">
  <div class="container partners-container">
    <header><h1 class="partners-title">{{ page.title }}</h1></header>

    <article>
      <div class="grid-row">
        <div class="tablet:grid-col-8 partners-body">
          <div class="partners-border"></div>
          <div class="margin-y-105">
            <time datetime="{{ page.date | date: '%Y-%m-%d' }}">{{ page.date | date: "%B %d, %Y" }}</time>
          </div>
          <div class="partners-border"></div>
          <div class="partners-body program-update-body padding-top-3 padding-bottom-2">{{ page.content | markdownify }}</div>
          <a href="{{ '/partners/program-updates/' | locale_url }}" class="caret">Read more program updates</a>
        </div>
      </div>
    </article>
  </div>
</main>
{% include partners/partners-banner.html %}
{% include partners/footer.html %}
