---
layout: base
---
<header>
  {% include skip_nav.html %}
  {% include banner.html %}
  {% include partners/header.html %}
</header>
<main id="main-content">
  <section>
    <div class="container partners-container">
      <div class="grid-row">
        <h1 class="tablet:grid-col-6 partners-title">{{ page.title }}</h1>
        <div class="tablet:grid-col-12 partners-border"></div>
        <div class="roadmap-body grid-row">
          <div class="tablet:grid-col-6 grid-col-12 display-inline-block">
            <div>{{ page.subtitle | markdownify}}</div>
            <div class="partners-subtitle">{{ page.subsection | markdownify }}</div>
          </div>
          <div class="tablet:grid-col-5 tablet:margin-left-6 grid-col-12 display-inline-block float-right">
            <a href="{{ site.baseurl }}{{ page.roadmap-url }}"><img class="section-title-right" alt="Program Roadmap into slide" src="{{ site.baseurl }}/assets/img/partners/login-gov-roadmap-dec-2024.png"/></a>
          </div>
        </div>
        <div class="roadmap-body tablet:grid-col-8 grid-col-12 partners-body partners-body--wide">
          <div>{{ page.body | markdownify }}</div>
        </div>
      </div>
    </div>
  </section>
</main>
{% include partners/partners-banner.html %}
{% include partners/footer.html %}
