---
layout: base
---
<header>
  {% include skip_nav.html %}
  {% include banner.html %}
  {% include partners/header.html %}
</header>
<main id="main-content">
    <section>
        <div class="container">
            <div class="grid-row">
                <div class="tablet:grid-col-12">
                    <h1 class="partners-title">{{ page.title }}</h1>
                </div>
            </div>
        </div>
        <div class="full-width-color">
            <div class="container">
                <div class="grid-row grid-gap-6">
                    <div class="tablet:grid-col-2 padding-top-2">
                        <img src="{{ site.baseurl }}/assets/img/partners/rrb_logo.svg" alt='Railroad Retirement Board'>
                    </div>
                    <div class="tablet:grid-col-9 partners-body">
                        {{ page.quote | markdownify }}
                    </div>
                </div>
            </div>
        </div>
        <div class="container partners-container">
            <div class="grid-row">
                <div class="tablet:grid-col-12">
                    <div>{{ page.subtitle | markdownify }}</div>
                    <div class="partners-body">{{ page.body | markdownify }}</div>
                    <div class="partners-body padding-top-2">{{ page.challenge | markdownify }}</div>
                    <div class="partners-body padding-top-2">{{ page.solution | markdownify }}</div>
                    <div class="partners-body padding-top-2">{{ page.impact | markdownify }}</div>
                    <div class="partners-body padding-top-2 padding-bottom-2">{{ page.key_shifts | markdownify }}</div>
                    <a href="{{ '/partners/impact-stories/' | locale_url }}" class="partners-body caret">Read more impact stories</a>
                </div>
            </div>
        </div>
    </section>
</main>
{% include partners/partners-banner.html %}
{% include partners/footer.html %}
