---
layout: base
---
<header>
  {% include skip_nav.html %}
  {% include banner.html %}
  {% include partners/header.html %}
</header>
<main id="main-content">
    <section>
        <div class="container" id="security-experience-container">
            <div class="grid-row">
                <div class="display-flex flex-column flex-justify-center height-full tablet:grid-col-8">
                    <div id="security-experience-title" class="tablet:grid-col-6">
                        <div>{{ page.title | markdownify }}</div>
                    </div>
                    <div>{{ page.subtitle | markdownify}}</div>
                    <div id="security-subsection">{{ page.subsection | markdownify}}</div>
                    <div>{{ page.body1 | markdownify}}</div>
                    <div>{{ page.job_title | markdownify}}</div>
                    <div>{{ page.job_body | markdownify}}</div>
                </div>
                <div class="tablet:grid-col-4">
                    <img alt="" aria-hidden="true" class="lock-image" role="img" src="/assets/img/partners/security-experience.svg">
                </div>
            </div>
            <div class="grid-row">
                <div class="display-flex flex-column flex-justify-center height-full tablet:grid-col-12">
                    <div class="security-list">{{ page.considerations1_body | markdownify }}</div>
                    <div>{{ page.control_body | markdownify }}</div>
                    <div class="security-list">{{ page.considerations2_body | markdownify }}</div>
                    <div>{{ page.simple_body | markdownify }}</div>
                    <div class="security-list">{{ page.considerations3_body | markdownify }}</div>
                </div>
            </div>
        </section>
</main>
{% include partners/partners-banner.html %}
{% include footer.html %}
