---
layout: base
---
<header>
  {% include skip_nav.html %}
  {% include banner.html %}
  {% include partners/header.html %}
</header>
<main id="main-content">
    <section>
        <div class="container" id="security-experience-container">
            <div class="grid-row">
                <div id="security-experience-title" class="body">{{ page.title | markdownify }}</div>
                <div id="security-experience-border" class="body tablet:grid-col-12"></div>
                <div class="body tablet:grid-col-8">
                    <div>{{ page.subtitle | markdownify}}</div>
                    <div id="security-subsection">{{ page.subsection | markdownify }}</div>
                </div>
                <div class="body tablet:grid-col-6">
                    <div>{{ page.body | markdownify }}</div>
                    <div class="section">{{ page.job | markdownify }}</div>
                </div>
            </div>
            <div class="grid-row">
                <div class="body tablet:grid-col-12">
                    <div class="security-list">{{ page.considerations1 | markdownify }}</div>
                    <div class="section">{{ page.control | markdownify }}</div>
                    <div class="security-list">{{ page.considerations2 | markdownify }}</div>
                    <div class="section">{{ page.simple | markdownify }}</div>
                    <div class="security-list">{{ page.considerations3 | markdownify }}</div>
                </div>
            </div>
        </section>
</main>
{% include partners/partners-banner.html %}
{% include footer.html %}
