---
layout: base
---

<header>
  {% include skip_nav.html %} {% include banner.html %} {% include partners/header.html %}
</header>
<main id="main-content">
  <section>
    <div class="container partners-container">
      <div class="grid-row">
        <h1 class="partners-title">{{ page.title }}</h1>
        <div class="tablet:grid-col-12 partners-border"></div>
        <div class="tablet:grid-col-12 partners-subtitle">{{ page.body | markdownify }}</div>
        <div class="partners-body partners-body--wide">
          <div>{{ page.disclaimer | markdownify }}</div>
        </div>
      </div>
      <div class="grid-row">
        <div class="tablet:grid-col-12">{{ page.partnership_steps_title | markdownify }}</div>
      </div>
      <div class="grid-row">
        <div class="tablet:grid-col-12 partners-body">
          <ol class="usa-process-list usa-process-list--big usa-process-list--connected">
            <li class="usa-process-list__item">
              <h3 class="usa-process-list__heading margin-top-05">
                {{ page.partnership_steps_header1 }}
              </h3>
              {{ page.partnership_steps_body1 | markdownify }}
            </li>
            <li class="usa-process-list__item">
              <h3 class="usa-process-list__heading">{{ page.partnership_steps_header2 }}</h3>
              {{ page.partnership_steps_body2 | markdownify }}
            </li>
            <li class="usa-process-list__item">
              <h3 class="usa-process-list__heading">{{ page.partnership_steps_header3 }}</h3>
              {{ page.partnership_steps_body3 | markdownify }}
            </li>
            <li class="usa-process-list__item">
              <h3 class="usa-process-list__heading">{{ page.partnership_steps_header4 }}</h3>
              {{ page.partnership_steps_body4 | markdownify }}
            </li>
          </ol>
        </div>
      </div>
    </div>
    <div class="padding-top-8 padding-bottom-8 bg-primary-lightest">
      <div class="container">
        <div class="grid-row">
          <div class="tablet:grid-col-2 padding-top-4">
            <img
              src="{{ site.baseurl }}/assets/img/partners/ssa-logo.svg"
              alt="Social Security Administration"
            />
          </div>
          <div class="tablet:grid-col-10 padding-left-6 partners-body">
            {{ page.ssa_quote | markdownify }}
          </div>
        </div>
      </div>
    </div>
    <div class="container partners-container">
      <div class="grid-row grid-gap-6">
        <div class="tablet:grid-col-12" id="intergovernmental-cooperation-act-igca-process">
          {{ page.igca_steps_title | markdownify }}
        </div>
        <div class="tablet:grid-col-6 partners-subtitle partners-blue-box">
          {{ page.igca_tips | markdownify }}
        </div>
        <div class="tablet:grid-col-6 partners-body">
          <ol class="usa-process-list usa-process-list--connected">
            <li class="usa-process-list__item">
              <h3 class="usa-process-list__heading">{{ page.igca_steps_header1 }}</h3>
              <div class="margin-top-05">{{ page.igca_steps_body1 | markdownify }}</div>
            </li>
            <li class="usa-process-list__item">
              <h3 class="usa-process-list__heading">{{ page.igca_steps_header2 }}</h3>
              {{ page.igca_steps_body2 | markdownify }}
            </li>
            <li class="usa-process-list__item">
              <h3 class="usa-process-list__heading">{{ page.igca_steps_header3 }}</h3>
              {{ page.igca_steps_body3 | markdownify }}
            </li>
            <li class="usa-process-list__item">
              <h3 class="usa-process-list__heading">{{ page.igca_steps_header4 }}</h3>
              {{ page.igca_steps_body4 | markdownify }}
            </li>
            <li class="usa-process-list__item">
              <h3 class="usa-process-list__heading">{{ page.igca_steps_header5 }}</h3>
              {{ page.igca_steps_body5 | markdownify }}
            </li>
          </ol>
        </div>
      </div>
    </div>
  </section>
</main>
{% include partners/partners-banner.html %} {% include partners/footer.html %}
