.bg-blue-light {
  background-color: $blue-light;
}
.bg-blue-lightest {
  background-color: $blue-lightest;
}
.bg-blue-mid {
  background-color: $blue-mid;
}
.bg-transparent {
  background-color: transparent;
}

@media #{$breakpoint-sm} {
  .sm-bg-white {
    background-color: $white;
  }
}
