$dropdown-min-width: 125px;

.dropdown-arrow {
  display: none;
}

@media #{$breakpoint-sm} {

  .dropdown {
    position: relative;
    z-index: 1;

    li {
      border-bottom: $border-width solid $border-color;

      &:last-of-type {
        border: none;
      }
    }

    ul {
      background-color: $blue-light;
      border: $border-width solid $border-color;
      border-radius: $space-tiny;
      left: 0;
      list-style: none;
      margin: 0;
      opacity: 0;
      padding: 0;
      position: absolute;
      transition: all .1s;
      visibility: hidden;

      a {
        display: block;
        padding: $space-1;
        text-decoration: none;
      }

      &::after,
      &::before {
        bottom: 100%;
        left: 30%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
      }

      &::after {
        border-bottom-color: $blue-light;
        border-width: 6px;
        margin-left: -6px;
      }

      &::before {
        border-bottom-color: $border-color;
        border-width: 7px;
        margin-left: -7px;
      }
    }
  }

  .dropdown:hover,
  .dropdown:focus,
  .dropdown.focused {
    & > a {
      padding-bottom: $space-1;
    }

    & > a::after {
      display: none;
    }

    ul {
      opacity: 100;
      visibility: visible;

      a:hover,
      a:focus {
        text-decoration: underline;
      }
    }
  }

  .dropdown-min-width {
    min-width: $dropdown-min-width;
  }

  .dropdown-arrow {
    display: inline;
  }
}

// Dropdown with reverse breakpoints.
// Is visible in small screens, hidden in larger screens
.dropdown-sm {
  position: relative;
  z-index: 1;

  ul {
    display: none;
    left: 0;
    list-style: none;
    margin: 0;
    min-width: 182px;
    opacity: 0;
    padding: 0;
    position: absolute;
    transition: all .1s;
    top: 100%;
    visibility: hidden;

    a {
      display: block;
      text-decoration: none;
    }

    &::after,
    &::before {
      bottom: 100%;
      left: 30%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
    }
  }

  .dropdown-text {
    border-bottom: $border-width solid transparent;
    cursor: pointer;
  }

  .caret { display: inline-block; }

  .dropdown-links {
    border-bottom: $border-width solid $border-color-secondary;

    &:last-of-type {
      border: none;
    }
  }
}

.dropdown-sm.focused:hover {
  .dropdown-text {
    border-bottom: $border-width solid $border-color-secondary;
    text-decoration: none;

    &::after {
      display: none;
    }
  }

  .caret { transform: rotateX(180deg) translateY(-1px); }

  ul {
    display: inline-block;
    opacity: 100;
    visibility: visible;

    a:hover,
    a:focus {
      background-color: $blue-mid;
    }
  }
}

@media #{$breakpoint-sm} {
  .dropdown-sm-arrow {
    display: none;
  }

  .dropdown-sm {
    ul {
      visibility: visible;
    }
  }
}
