@use 'uswds-core' as *;
@use '../colors' as *;

.usa-form {
  max-width: none;
}

.usa-label {
  margin-top: units(4);
}

.usa-label.text-normal {
  @include u-text('normal');
}

.usa-input,
.usa-input--lg-password,
.usa-textarea,
.usa-select,
.usa-combo-box__input,
.usa-range {
  margin-top: units(0.5);
}

[type='search'],
.usa-search__input {
  margin-top: 0;
}

.usa-hint {
  @include typeset($theme-form-font-family, $theme-body-font-size, $theme-body-line-height);
  color: $grey;
  margin-bottom: units(2);
  margin-top: units(0.5);
  max-width: units($theme-input-max-width);
}

.form-actions {
  @include at-media('desktop') {
    @include u-margin-y(8);
  }
}
