header {
  &.intro {
    border-bottom: $border-style;
    > p {
      margin-top: 0;
    }
  }
}

.usa-banner__header, .usa-banner__content {
    // TODO: Remove this once we assign `$theme-font-sans` design system variable to Public Sans.
  font-family: $sans-serif-font-family;
}

.create-account-btn-link {
  margin-top: 2em;
  display: none;
}