header {
  .flex-auto {
    flex: 1 1 auto;
  }
}

@media #{$breakpoint-sm} {
  #developer-header {
    background-image: url('../img/dev-landing@2x.png');
    background-position: right 16px center;
    background-repeat: no-repeat;
    background-size: 285px;
  }

  .hero {
    background-image: url('../img/header@2x.png');
    background-position: 90% 50%;
    background-repeat: no-repeat;
    background-size: 650px;
  }
}

@media #{$breakpoint-sm} and (max-width: #{$container-width}) {
  .hero {
    background-position: calc(50% - 225px) 50%;
    background-size: 488px;

    h1, .h1 { font-size: $h1; }
    .fs-20p { font-size: 16px; }
  }
}

.covid-prompt {
  margin: 0 0.7em;
}

@media #{$breakpoint-menu} {
  .covid {
    margin-top: 10px;
  }
}

.create-account-btn-link {
  margin-top: 2em;
  display: none;
}
