@use 'uswds-core' as *;
@use '../colors' as *;
@use '../variables' as *;

.hero {
  @include at-media('tablet') {
    height: 16rem;
  }

  @include at-media('desktop') {
    height: 20rem;
  }

  .hero__description,
  .hero__title {
    // This assumes there is no margin collapsing in a flex container (as opposed to block
    // container), resulting in a total of 4 units of margin between title and description.
    @include u-margin-y(2);
  }

  .hero__title {
    font-size: 1.875rem; // 30px
    line-height: 1.375em; // 22px

    @include at-media('desktop') {
      font-size: 2.5rem; // 40px
    }
  }

  .hero__description {
    font-size: 1.125rem; // 18px
    line-height: $line-height;

    @include at-media('desktop') {
      font-size: 1.25rem; // 20px
    }
  }

  > .container {
    height: 100%;
    background-repeat: no-repeat;
    @include at-media('desktop') {
      background-image: url(../img/header@2x.png);
      background-position: 100% 50%;
      background-size: 650px;
    }
  }

  &.partners {
    @include at-media('tablet') {
      background: no-repeat url(../img/partners/heroes/partners-hero.svg) 80% / 100%;
      background-size: 30%;
      > .container {
        background: none;
      }
    }

    @include at-media('desktop') {
      height: 28rem;
    }
  }

  @include at-media('desktop') {
    &.what-is-login {
      > .container {
        line-height: 1.375em;
        background-image: url(../img/what-is-login/header/what-is-illo-header@2x.png);
        background-position-y: 2rem;
        background-size: 45%;
      }
    }

    &.who-uses-login {
      background-image: url(../img/who-uses-login/who-uses-illo-header/who-uses-illo-header@2x.png);
      background-position: right center;
      background-size: 45%;
      background-repeat: no-repeat;
      > .container {
        background-image: none;
      }
    }

    &.create-an-account {
      background-image: url(../img/create-an-account/header/create-account-illo-header@2x.png);
      background-position: right bottom;
      background-size: 45%;
      background-repeat: no-repeat;
      > .container {
        background-image: none;
      }
    }

    &.bg-none {
      height: 11.125rem;

      > .container {
        background: none;
      }
    }
  }
}

.hero--search {
  height: 17.625rem;

  > .container {
    background-image: none;
  }
}
