#i18n-mobile-toggle,
#i18n-desktop-toggle {
  &.focused .caret {
    transform: rotateX(180deg) translateY(-1px);
  }
}

#i18n-mobile-dropdown {
  background-color: $navy;
  display: none;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 100%;
}

#i18n-desktop-toggle {
  &.focused {
    background-color: $blue;
    border-radius: 0;
    margin-bottom: 0;
    margin-top: 0;

    & > a {
      padding-bottom: 12px;
      padding-top: 12px;
    }
  }
}

#i18n-desktop-dropdown {
  background-color: $blue;
  display: none;
  position: absolute;
  left: -1px;
  bottom: 100%;
  width: 194px;
}
