@use 'uswds-core' as *;
@use '../variables' as *;

.language-picker {
  position: relative;
  width: auto;

  .usa-accordion__content {
    @include u-bg('primary-lightest');
    @include u-border(1px, 'primary-light');
    @include u-radius($theme-button-border-radius);
    margin: 0.25rem 0 0;
    overflow: visible;
    padding: 0;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 10;
  }
}

.language-picker__label {
  align-items: center;
  display: flex;

  span {
    margin: 0 units(1);
  }
}

.language-picker__label--text {
  @include u-padding-y(1);
  color: color($theme-link-color);
}

.language-picker__label--button {
  @include typeset($theme-button-font-family, null, 1);
  @include u-radius($theme-button-border-radius);
  padding: units(1);
  padding-left: units(1.5);

  &.usa-accordion__button[aria-expanded='false'],
  &.usa-accordion__button[aria-expanded='true'] {
    background-image: none;
  }

  .language-picker__label-text {
    margin-left: units(1);
    margin-right: units(0.5);
  }
}

.language-picker__expander {
  margin: -1px 0;
  transition: transform $project-easing;

  @media (prefers-reduced-motion) {
    transition: none;
  }

  .usa-accordion__button[aria-expanded='true'] & {
    transform: rotate(-180deg);
  }
}

.language-picker__list {
  @include list-reset;

  a {
    @include typeset-link;
    @include typeset($theme-button-font-family, null, 1);
    @include u-padding-y(1.5);
    display: block;
  }
}

.language-picker--dropdown .language-picker__list li {
  + li {
    border-top: 1px solid $border-color;
  }
}

.language-picker:not(.language-picker--dropdown) .language-picker__list a {
  @include u-margin-y(1);
  margin-left: units(2.5);
}
