@use 'uswds-core' as *;
@use '../colors' as *;
@use '../mixins/all' as *;

main {
  background: white;
}

.container,
div > .container,
section > .container,
nav > .container,
article.container,
.usa-identifier__container {
  @include lg-grid();
}

.language-search .container {
  display: flex;
}

.usa-header .usa-nav-container {
  @include lg-grid();

  @include at-media-max('desktop') {
    padding-left: 0;
    padding-right: 0;
  }
}

.usa-header .usa-nav {
  .usa-search {
    flex-shrink: 0;
    right: 0;
  }
}

@include at-media('desktop') {
  .usa-header .usa-nav {
    .usa-search {
      position: absolute;
      bottom: 1rem;
    }
  }

  .one-account-for-govt {
    .container {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }
  }
}

.usa-header--extended .usa-navbar,
.usa-header--extended .usa-nav__inner {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
  max-width: none;
}

@include at-media('desktop-lg') {
  .sidebar {
    @include grid-col(3);
    @include grid-offset(2);
  }
}

.container {
  .hdr {
    padding: 0.5rem 0 0.5rem 2.75rem;
  }
}

.page-content {
  @include u-padding-y(3);

  @include at-media('desktop') {
    @include u-padding-y(8);
  }
}

.page-content__section {
  @include u-border-top(1px, 'primary-light');
  @include u-margin-top(4);
  @include u-padding-top(4);

  &:not([hidden]) {
    @include u-display('block');
  }
}

.usa-prose hr {
  @include u-border-top(1px, 'base-lighter');
  @include u-margin-top(4);
}

.page-content__footer {
  @include u-border-top(1px, 'primary-light');
  @include u-margin-top(4);
  @include u-padding-top(4);
}

#touchpoints_feedback {
  margin-top: 2rem;
}

.fba-modal-title,
.section-title-view {
  display: none;
}

.usa-button.usa-button-group__item {
  color: $blue;
  background-color: $white;
  border: 2px solid $blue;
  border-radius: 0.5rem;
  padding: 0.75rem 2.25rem;
}
