$desktop: '(min-width: 1024px)' !default;

main {
  flex: 1 1 0;
  background: white;
}

div > .container,
section > .container {
  min-width: 64rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  padding-right: 0;
}

.language-search .container {
  display: flex;
  justify-content: flex-end;
}

.usa-header .usa-nav {
  .usa-nav__primary-item:first-child .usa-nav__link {
    padding-left: 0;
  }

  .usa-search {
    right: 0;
  }

  .usa-search--small [type=submit],
  .usa-search--small .usa-search__submit {
    width: auto;
    padding: 0 0.7rem;
    background-image: none;
  }
}

.footer-nav {
  background-image: none;
  padding: 2em 0;

  .navigation {
    display: flex;
    justify-content: flex-end;
    background: url(../img/logo_sign_in.svg) top left no-repeat;
  }

  a {
    color: $blue;
  }
}

.footer-gsa {
  padding: 2em 0;
  display: block;

  > .container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
}

@media #{$desktop} {
  .usa-header--extended {
    .usa-navbar {
      padding-left: 0;
      padding-right: 0;
    }

    .usa-nav__inner {
      // override package CSS rule
      padding-left: 0 !important;
      padding-right: 0;
    }
  }

  .hero {
    background-image: none;
    height: 20rem;

    .sm-col {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    > .container {
      height: 100%;
      background-image: url(../img/header@2x.png);
      background-position: 100% 50%;
      background-repeat: no-repeat;
      background-size: 650px;
    }

    &.what-is-login {
      > .container {
        background-image: url(../img/what-is-login/header/what-is-illo-header@2x.png);
        background-position-y: 2rem;
        background-size: 50%;
      }
    }
  }


  .usa-nav__primary {
    > .usa-nav__primary-item {
      > a,
      > .usa-nav__link {
        position: relative;
        padding: 0;

        &:hover,
        &.usa-current {
          box-shadow: inset 0 -4px 0 0 $red;

          &::after {
            display: none;
          }
        }
      }
    }
  }
}

.looking-for-svc {
  padding: .3rem 0 .3rem 2rem;
  background: url(../img/speech-balloon/icon-speech-balloon.svg) center left no-repeat;
}

@media #{$breakpoint-menu} {
  div > .container,
  section > .container {
    min-width: unset;
    margin-left: unset;
    margin-right: unset;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .usa-navbar.container {
    padding-left: 0;
    padding-right: 0;
  }

  .usa-banner__inner {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .hero {
    padding: 2rem 0;
  }

  .footer {
    .navigation {
      display: block;
      padding-top: 3rem;
    }
  }

  .usa-header .usa-nav {
    width: 85vw;

    .usa-nav__primary-item .usa-nav__link {
      padding-left: 0;
    }
  }

  .looking-for-svc {
    font-size: 95%;
  }
}

.container {
  .hdr {
    padding: 0.5rem 0 0.5rem 2.75rem;
  }
}