.list {
  ul {
    li {
      line-height: 2.25rem;
      ul {
        list-style-type: "âƒ";
        margin-bottom: 0;
      }
    }
  }

  a {
    text-decoration: none;
  }
}

.list-arrow {
  a {
    background: url("../img/ico-arrow.svg") no-repeat right 6px;
    background-size: 0.75rem 0.75rem;
    padding-right: 1.25rem;
  }
}

.list-checked li {
  background: url("../img/ico-checked.svg") no-repeat left 4px;
  background-size: 1rem;
}

.help-article > h2:first-of-type {
  margin-top: 2rem;
}

.help-article > h2:first-of-type + ul,
.help-question-list,
.page-content__prose ul.help-question-list {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;

  li {
    @include u-margin-y(1);

    &::before {
      background-color: color("primary-darker");
      border-radius: 50%;
      color: color("white");
      content: "?";
      display: inline-block;
      font-weight: bold;
      height: 25px;
      line-height: 25px;
      margin-right: .75rem;
      text-align: center;
      width: 25px;
    }
  }
}
