ul {
  li {
    line-height: 2.25rem;
    ul {
      list-style-type: none;
      list-style-image: url("../img/list-bullet-nested.svg");
      margin-bottom: 0;
    }
  }
}

ul a {
  text-decoration: none;
}

.teal-dots {
  li {
    padding-left: 1rem;
    text-indent: -1.3rem;

    &::before {
      color: $teal;
      content: "•";
      font-size: 2rem;
      line-height: 1.5rem;
      padding-right: 0.5rem;
      vertical-align: -3px;
    }
  }
}

.list-arrow {
  a {
    background: url("../img/ico-arrow.svg") no-repeat right 6px;
    background-size: 0.75rem 0.75rem;
    padding-right: 1.25rem;
  }
}

.list-checked li {
  background: url("../img/ico-checked.svg") no-repeat left 4px;
  background-size: 1rem;
}
