@use 'uswds-core' as *;
@use 'sass:math';
@use '../colors' as *;
@use '../variables' as *;

.help-article > h2:first-of-type {
  margin-top: 2rem;
}

ol.number-list,
ul.help-question-list {
  list-style-type: none;
  margin-left: 0;

  &,
  .usa-prose & {
    padding-left: 0;
  }

  > li {
    @include u-margin-y(1);
    @include u-position('relative');
    padding-left: 2.25rem;

    &::before {
      @include u-pin-left;
      top: math.div(
        ($base-font-size * line-height($theme-body-font-family, $theme-body-line-height)) - 25px,
        2
      );
      background-color: $navy;
      border-radius: 50%;
      color: $white;
      display: inline-block;
      font-weight: bold;
      height: 25px;
      line-height: 25px;
      text-align: center;
      width: 25px;
    }

    > ul {
      list-style-type: disc;
    }
  }
}

ul.help-question-list {
  li::before {
    content: '?';
  }
}

ol.number-list {
  counter-reset: num;

  > li {
    @include u-margin-y(2);
    counter-increment: num;

    &::before {
      content: counter(num);
    }
  }
}
