.list {
  ul {
    li {
      line-height: 2.25rem;
      ul {
        list-style-type: "⁃";
        margin-bottom: 0;
      }
    }
  }
  
  a {
    text-decoration: none;
  }
}

.list-arrow {
  a {
    background: url("../img/ico-arrow.svg") no-repeat right 6px;
    background-size: 0.75rem 0.75rem;
    padding-right: 1.25rem;
  }
}

.list-checked li {
  background: url("../img/ico-checked.svg") no-repeat left 4px;
  background-size: 1rem;
}

#common-troubleshooting-topics,
.list-styled {
  margin-top: 2rem;

  & + ul, 
  & + ol {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;

    li:before {
      content: "?";
      background-color: $navy;
      padding: 2px 8px;
      border-radius: 50%;
      color: $white;
      line-height: 2.2;
      margin-right: 0.75rem;
      font-weight: bold;
    }

    a {
      color: $blue-mid;
    }
  }
  
  & + ol {
    counter-reset: num;

    li {
      counter-increment: num;
    }

    li:before {
      content: counter(num);
    }
  }
}
