@use '../colors' as *;
@use '../variables' as *;

.nav-secondary {
  color: red;

  a {
    color: $white;

    &:hover,
    &:focus,
    &:active {
      text-decoration: none;

      li {
        text-decoration: underline;
      }
    }
  }

  li {
    display: inline-flex;
    align-items: center;
    flex-direction: column;

    &.active {
      font-weight: $bold-font-weight;

      $triangle-size: 0.5rem;
      $triangle-rounding: 0.05rem;

      &::before {
        border-bottom: $triangle-size solid $white;
        border-left: $triangle-size solid transparent;
        border-right: $triangle-size solid transparent;
        bottom: 0;
        content: '';
        left: 50%;
        margin-left: -$triangle-size;
        padding-top: 0.4rem;
        position: absolute;
      }
    }
  }
}
