.sidenav {
  ul {
    border: none;
    font-family: $sans-serif-font-family;

    .usa-sidenav__item {
      font-size: ($base-font-size - 2);
      border-top: none;
      border-bottom: none;

      a {
        padding-top: $container-spacing-sm;
        padding-bottom: $container-spacing-sm;
      }
    }

    .usa-parent {
      font-size: $base-font-size;
      border-top: 1px solid $blue-light;

      &:last-child {
        border-bottom: 1px solid $blue-light;
      }
    }

    .active {
      color: $blue-mid;
      font-weight: bold;
    }

    .usa-current {
      font-weight: bold;
      color: $blue-mid;
      background: none;
      border-top: none;
      border-bottom: none;
    }

  }

  [aria-hidden="true"] {
    display: none;
  }
}
