@media #{$breakpoint-menu} {
  .sign-in-logo-padding {
    padding: 4px !important;
  }
}

#sign-in {
  display: flex;
  align-items: center;
}

.sign-in-logo {
  background-color: transparent;
  width: 103px;
  height: 27px;
  padding: 7px 6px 6px;
  margin-left: 0.2rem;
  border: 1px solid map-get($site-palette, 'site-light-blue');
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    border-color: $blue;
  }

  a {
    font-size: 1.28rem;
    color: transparent;

    &:hover {
      color: transparent;
    }
  }
}

.usa-search [type=search] {
  height: 2rem;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.logo {
  line-height: 14px;

  img { height: 14px; }
}

.lang-es {
  header nav {
    .lang-nav-item {
      margin-right: $space-2;
    }
  }
}

.lang-fr {
  header nav {
    .lang-nav-item {
      margin-right: $space-1;
    }
  }
}

@media #{$breakpoint-sm} {
  .logo {
    line-height: 17px;

    img { height: 17px; }
  }
}

@media #{$breakpoint-md} {
  .lang-es {
    header nav {
      .lang-nav-item {
        margin-right: $space-3;
      }
    }
  }

  .lang-fr {
    header nav {
      .lang-nav-item {
        margin-right: $space-2;
      }
    }
  }
}

@media #{$breakpoint-lg}{
  .lang-fr {
    header nav {
      .lang-nav-item {
        margin-right: $space-3;
      }
    }
  }
}

@media #{$breakpoint-lang}{
  header nav {
    &.es-nav {
      font-size: $sm-lang;
    }

    &.fr-nav {
      font-size: $sm-lang;
    }
  }
}
