.language-search {
  background-color: $blue-lightest;
  padding: .5rem;
  border-bottom: 1px solid darken($blue-lightest, 15%);
  display:flex;
  align-items:center;
  justify-content: flex-end;

  .usa-button--outline {
    background-color: transparent;
  }

  .language-container {
    position: relative;
  }

  .dropdown {
    position: absolute;
    border: 1px solid darken($blue-lightest, 15%);
    border-radius: 0.25rem;
    width: 8.4rem;
    list-style-type: none;
    margin: 0.25rem 0 0 0;
    padding: 0;
    text-align: center;
    background: $blue-lightest;
    z-index: 10;
    display: none;

    li {
      font-size: 0.9em;
      padding: 0.65em 0rem;
    }

    li + li {
      border-top: 1px solid darken($blue-lightest, 15%);
    }
  }
}

@media #{$breakpoint-menu} {
  .language-search {
    display: none;
  }
}

.sign-in-logo.usa-button {
  color: $black;
  font-weight: bold;

  &.mobile {
    margin: 1em 0 0 0;
    display: none;
  }

  background-color: $white;
  display: inline-block;
  flex: 0;
  white-space: nowrap;
  padding: 0.85rem;
  margin-left: 0.2rem;
  box-shadow: inset 0 0 0 1px #bbb;


  &:hover {
    background-color: $white;
  }

  span {
    color: transparent;
    background: url(../img/logo_sign_in.svg) no-repeat;
    background-size: contain;
    display: inline-block;
    width: 6rem;
    position: relative;
    top: .125rem;
    margin-left: .25rem;
  }
}

@media #{$breakpoint-menu} {
  .sign-in-logo.usa-button.mobile {
    display: block;
    white-space: normal;

    span {
      margin: 0;
    }
  }

  .usa-header .usa-nav.is-visible + .modal-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
  }
}

.usa-search {
  position: absolute;
  right: 1.75rem;
  bottom: 1rem;

  [type=search] {
    height: 2rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}

@media #{$breakpoint-menu} {
  .usa-search {
    display: block;
    position: relative;
    right: unset;
    bottom: unset;
  }
}

.mobile.language-list {
  display: none;
  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    padding: 0.75em 0 0.75em 2.25em;
  }
}

@media #{$breakpoint-menu} {
  .mobile.language-list {
    display: block;
  }
}

.logo {
  line-height: 14px;

  img { height: 14px; }
}

.lang-es {
  header nav {
    .lang-nav-item {
      margin-right: $space-2;
    }
  }
}

.lang-fr {
  header nav {
    .lang-nav-item {
      margin-right: $space-1;
    }
  }
}

@media #{$breakpoint-sm} {
  .logo {
    line-height: 17px;

    img { height: 17px; }
  }
}

@media #{$breakpoint-md} {
  .lang-es {
    header nav {
      .lang-nav-item {
        margin-right: $space-3;
      }
    }
  }

  .lang-fr {
    header nav {
      .lang-nav-item {
        margin-right: $space-2;
      }
    }
  }
}

@media #{$breakpoint-lg}{
  .lang-fr {
    header nav {
      .lang-nav-item {
        margin-right: $space-3;
      }
    }
  }
}

@media #{$breakpoint-lang}{
  header nav {
    &.es-nav {
      font-size: $sm-lang;
    }

    &.fr-nav {
      font-size: $sm-lang;
    }
  }
}

.usa-nav__link span {
  display: inline;
  text-transform: none;
}

.pre-footer-nav {
  border-top: 1px solid darken($blue-lightest, 15%);
  display: flex;
  justify-content: flex-end;
  padding: 2em 8em 2em 1em;
  background: url(../img/logo_sign_in.svg) 8em 2em no-repeat;

  .system-status {
    display: flex;
    align-items: center;
    padding-top: 1em;

    &::before {
      content: '♥';
      display: inline-block;
      margin-right: 0.25rem;
      color: $blue;
    }

    a {
      margin: 0;
    }
  }

  .grid {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid darken($blue-lightest, 15%);
    flex-wrap: wrap;

    h6 {
      margin: 0 0 1em 0;
    }

    section {
      margin-right: 3rem;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  a {
    text-decoration: none;
    display: block;
    margin: 0 0 1em 0;
    white-space: nowrap;
  }
}

@media #{$breakpoint-menu} {
  .pre-footer-nav {
    display: block;
    background: none;
    padding: 2em 1em;

    .grid {
      section {
        margin-right: 1rem;
      }
    }
  }
}