.tagline-content {
  @include lg-grid(false, true);
  background-color: $navy;
  margin-bottom: ($container-spacing * 2);
  display: none;
}

@include at-media("tablet") {
  .tagline-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../img/who-uses-login/who-uses-illo-header/who-uses-illo-header.png);
    background-position: -21.5rem -6rem;
    background-repeat: no-repeat;
    background-size: 70%;
    border-radius: 1rem;
    height: 11rem;

    .tagline {
      color: white;
      font-size: 1.35rem;
      font-weight: bold;
    }

    .link {
      font-size: 1.2rem;
      color: white;
    }
  }
}
