.one-account-banner {
  background-color: $white;
  display: none;
  padding-bottom: ($container-spacing * 2);

  @include at-media("tablet") {
    display: block;
  }
}

.one-account-banner__banner {
  @include lg-grid(false, true);
  align-items: center;
  background-color: $navy;
  background-image: url(../img/who-uses-login/who-uses-illo-header/who-uses-illo-header.png);
  background-position: -21.5rem -6rem;
  background-repeat: no-repeat;
  background-size: 70%;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  height: 11rem;
  justify-content: center;
}

.one-account-banner__tagline {
  color: $white;
  font-size: 1.35rem;
  font-weight: bold;
}

.one-account-banner__link {
  font-size: 1.2rem;
  color: $white;
}
