.usa-skipnav {
  background: transparent;
  left: 0;
  padding: 1rem 1.5rem;
  position: absolute;
  top: -4.2rem;
  transition: all 0.2s ease-in-out;
  z-index: 100;
}

.usa-skipnav:focus {
  background: #ffffff;
  left: 0;

  position: absolute;
  top: 0;
  transition: all 0.2s ease-in-out;
}
