@use '../colors' as *;

.usa-table--sticky-header {
  position: relative;

  .usa-table--sticky-header--heading,
  thead th.usa-table--sticky-header--heading {
    background-color: $white;
    position: sticky;
    top: 0;
  }
}
