@use 'uswds-core' as *;

.usa-table--sticky-header,
.usa-prose .usa-table--sticky-header {
  position: relative;

  .usa-table__header--sticky,
  thead th.usa-table__header--sticky {
    background-color: color('white');
    position: sticky;
    top: 0;

    &::after {
      content: '';
      position: absolute;
      top: 100%;
      left: 0;
      height: 1px;
      width: 100%;
      background: color($theme-table-border-color);
    }
  }
}
