@use '../colors' as *;
@use '../variables' as *;

.svg-wrapper {
  svg {
    height: $icon-width;
    width: $icon-width;
  }
}

.svg-gray {
  svg,
  g,
  path {
    fill: $grey;
  }
}

.svg-success {
  color: $success;
}

.svg-error {
  color: $error;
}
