.svg-wrapper {
  svg {
    height: $icon-width;
    width: $icon-width;
  }
}

.svg-gray {
  svg,
  g,
  path {
    fill: $grey;
  }
}

.svg-success {
  svg,
  g,
  path {
    fill: $success;
  }
}

.svg-error {
  svg,
  g,
  path {
    fill: $error;
  }
}
