html {
  font-size: $base-font-size;
}
body {
  -webkit-font-smoothing: antialiased;
  font-family: $sans-serif-font-family;
}

article p {
  line-height: $line-height;
  color: $base-font-color;
  letter-spacing: -0.11px;
}

.monospace {
  font-family: $monospace-font-family;
}
.sans-serif {
  font-family: $sans-serif-font-family;
}
.serif {
  font-family: $serif-font-family;
}
