html {
  font-size: $base-font-size;
}
body {
  -webkit-font-smoothing: antialiased;
  font-family: $sans-serif-font-family;
}

article p {
  @include para-style();
}

.monospace {
  font-family: $monospace-font-family;
}
.sans-serif {
  font-family: $sans-serif-font-family;
}
.serif {
  font-family: $serif-font-family;
}

.font-xs {
  font-size: $base-font-xs;
}
