@use 'uswds-core' as *;
@use '../variables' as *;

html {
  font-size: $base-font-size;
}
body {
  -webkit-font-smoothing: antialiased;
}

.container--mod p {
  line-height: line-height($theme-body-font-family, $theme-body-line-height);
}

.font-xs {
  font-size: $base-font-xs;
}
