---
title: login.gov Playbook
permalink: /playbook/
---

{% include playbook_navigation.html %}

<div class="bg-white">
  <div class="container cntnr-wide px2 pb4 md-pb5">
    <img alt="" width="240" class="ml6 right md-show" src="{{ '/assets/img/graphic-circle.png' | prepend: site.baseurl }}">
    <p class="pt4 md-pt2 h4 overflow-hidden serif line-height-3 fs-lead">
      “Identity management” or making sure that only the correct people get access to systems, is central to delivering public services online. We are sharing these principles to help developers and technologists in government agencies build usable, secure, and privacy-protecting consumer identity management systems.
    </p>
  </div>
</div>

<div class="bg-navy">
  <div class="container cntnr-wide px2 py5">
    <h2 class="mt0 mb4 h2 sm-h1 white">
        The principles
    </h2>
    <div class="flex flex-wrap mxn1">
      {% for p in site.playbook.principles %}
        <div class="col-12 md-col-6 border-box mb2 px1">
          <a class="p3 flex flex-center bg-white navy rounded-med" href="{{ site.baseurl }}/playbook/principles/#{{ p.anchor }}">
            <img alt="" height="50" width="50" class="flex-none mr2 md-mr3" src="{{ site.baseurl }}/assets/img/{{ p.img }}.svg">
            <div class="flex-auto h3 bold line-height-1">
              {{ p.text }}
            </div>
            <img alt="Arrow" width="14" class="flex-none ml1" src="{{ '/assets/img/ico-arrow.svg' | prepend: site.baseurl }}">
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
