{% capture lang %}{{ page.url | truncate: 3, "" | remove: "/" }}{% endcapture %}
{% if lang == "" %}{% assign lang = site.languages.first %}{% endif %}

<!DOCTYPE html>
<html lang="{{ page.lang | default: lang | default: 'en-US' }}">

  <head>
    {% include meta.html %}
    {% include styles.html %}
    {% include google_analytics.html %}
    {% include dap.html %}
    {% include google_recaptcha.html %}
  </head>

  <body class="{{ layout.body.class }} {{ page.body.class }} lang-{{ lang }}">
    {{ content }}
    {% include scripts.html %}
  </body>

</html>
