<!DOCTYPE html>
<html lang="{{ page.lang | default: 'en-US' }}">

  <head>
    {% include meta.html %}
    {% include styles.html %}
    {% include google_analytics.html %}
    {% include dap.html %}
    {% include gtm_head.html %}
    {% include google_recaptcha.html %}
    <base href="{{ site.url }}/{{ site.baseurl }}">
  </head>

  <body class="{{ layout.body.class }} {{ page.body.class }} lang-{{ page.lang }}">
    {% include gtm_body.html %}
    {{ content }}
    {% include scripts.html %}
  </body>

</html>
