---
layout: sidenav
sidenav: contact_us
common_applications:
  - USAJOBS
  - Internal Revenue Service (IRS)
  - Social Security Administration (SSA)
  - Trusted Traveler Programs (Global Entry/Nexus/Sentri)
---

{% if site.contact_maintenance_start_time and site.contact_maintenance_end_time %}
  {% capture maintenance_alert_content %}
    {{ page.maintenance_window_content }}
    {% if site.contact_maintenance_phone_available %}
      {{ page.phone_available_content }}
    {% endif %}
  {% endcapture %}
  {% include alert.html
     type="warning"
     id="contact-us-maintenance-alert"
     hidden="true"
     content=maintenance_alert_content %}
{% endif %}

{% if site.contact_unplanned_outage %}
  {% capture outage_alert_content %}
    {{ page.unplanned_outage_content }}
    {% if site.contact_unplanned_outage_phone_available %}
      {{ page.phone_available_content }}
    {% endif %}
  {% endcapture %}
  {% include alert.html type="warning" content=outage_alert_content %}
{% endif %}

{{ page.help_center_content | markdownify }}

<contact-us-form
  maintenance-alert-id="contact-us-maintenance-alert"
  maintenance-start-time="{{ site.contact_maintenance_start_time }}"
  {% if site.contact_unplanned_outage %} hidden {% endif %}
  maintenance-end-time="{{ site.contact_maintenance_end_time }}"
  class="page-content__section usa-prose"
>
  {{ page.intro_content | markdownify }}

  {% if site.contact_phone_number_enabled and site.contact_phone_number %}
    {% include contact_phone.html %}
  {% endif %}

  {% if page.form_submitted_message %}
    {% assign form_submitted_message = page.form_submitted_message | newline_to_br %}

    {% include alert.html
    type="success"
    class="margin-bottom-4"
    content=form_submitted_message
    %}

    <a class="usa-link" href="https://login.gov{{ '/contact/' | locale_url }}">{{ page.submit_help_ticket }}</a>
  {% endif %}

  {% unless page.form_submitted_message %}
    <div class="desktop:grid-col-9">
      {% include contact_form.html common_applications=layout.common_applications %}
    </div>
  {% endunless %}
</contact-us-form>

<div class="page-content__section usa-prose">{{ page.partner_content | markdownify }}</div>
<div class="page-content__section usa-prose">{{ page.report_issue_content | markdownify }}</div>

{% if site.contact_maintenance_start_time and site.contact_maintenance_end_time %}
  <script src="{{ '/assets/js/contact_us_form_element.js' | relative_url }}"></script>
{% endif %}
