---
layout: base
---
<header>
  {% include skip_nav.html %}
  {% include banner.html %}
  {% include header.html %}
</header>
<main id="main-content">
  {% include hero.html class=page.component.class heading=page.title text=page.description %}

  {% if page.component.class == 'what-is-login' %}
    {% include components/2-col.html class=page.component.class col1=page.component.col1 bannertext=page.component.bannertext bannercol1=page.component.bannercol1 bannercol2=page.component.bannercol2 col2=page.component.col2 image=page.component.image %}
  {% elsif page.three_col.class == 'why-login-gov' %}
    {% include components/3-col.html class=page.three_col.class heading=page.three_col.heading subheading1=page.three_col.subheading1 col1=page.three_col.col1 subheading2=page.three_col.subheading2 col2=page.three_col.col2 subheading3=page.three_col.subheading3 col3=page.three_col.col3 %}
  {% else %}
    {{ content }}
  {% endif %}

</main>
{% if page.one_account_banner == true %}
  {% include one_account_banner.html %}
{% elsif page.already_have_an_account_banner == true %}
  {% include already_have_an_account_banner.html %}
{% endif %}
{% include footer.html %}
