---
layout: main
class: relative
---

<div>
  <div class="container">
    <h1 id="policy-page-title">
      {% t meta.privacy_security_policy.intro.title %}
    </h1>
  </div>
</div>
<div>
  <div class="container">
    <div class="clearfix">
      {% include policy_nav.html %}
      <div class="grid-col grid-col-8policy-page page-{{ page.index }}">
        {{ content }}
        <a href="#policy-page-title" class="anchor-to-top"
          >{% t nav.anchor_to_top %}</a
        >
      </div>
    </div>
  </div>
</div>
