---
layout: main
---

{% comment %} This file implements a uniform way of maintaining translated sidenav lists. It will
allow us to keep html out of markdown files. To add another page that uses side navigation, add the
`sidenav` variable in the markdown file's front matter. Give it a unique value. --- sidenav:
policies --- Add the new value to each i18n yaml file under the `nav` object. Define its sections
with name/url pairs. The url value can be a relative url or hash anchor link (#). policies:
sections: - name: Our commitment to your privacy and security url: /policy/ - name: Another link
url: /policy/#another-policy-link The page.sidenav value will be passed to the sidenav for loop
below. Note: This does not apply to Help pages, which is far more complex. {% endcomment %}
{% capture sidenav %}
  {% if page.sidenav != "none" %}
  <nav aria-label="{{ site.data[page.lang].settings.accessible_labels.secondary_navigation }}" class="position-sticky pin-top">
    <ul class="usa-sidenav">
      <li class="usa-sidenav__item">
        {% assign section_url = site.data[page.lang].settings.nav[page.sidenav].url | default: page.url %}
        <a href="{{ section_url | prepend: site.baseurl}}" class="usa-current"
          >{{ site.data[page.lang].settings["nav"][page.sidenav]["title"] }}</a
        >
        <ul class="usa-sidenav__sublist">
          {% for item in site.data[page.lang].settings["nav"][page.sidenav]["sections"]%}
          <li class="usa-sidenav__item">
            <a href="{% unless item.url contains '#' %}{{site.baseurl}}{% endunless %}{{ item.url }}"
               class="{% if item.url == page.permalink %}usa-current{% endif %}"
            >
              {{ item.name }}
            </a>
          </li>
          {% endfor %}
        </ul>
      </li>
    </ul>
  </nav>
  {% endif %}
{% endcapture %}

{% capture heading %}
{{ page.title }}
{% endcapture %}

{% include hero.html heading=heading class="usa-section--dark bg-none" %}

<div class="container">
  <div class="page-content container--mod grid-row">
    <div class="desktop:display-none grid-col-12 margin-bottom-3">{{ sidenav }}</div>
    <div class="page-content__prose grid-col-12 desktop:grid-col-8">
      {{ content }}
      <a href="#main-content" class="anchor-to-top">{{ site.data[page.lang].settings.nav.anchor_to_top }}</a>
    </div>
    <div class="display-none desktop:display-block grid-offset-1 grid-col-3">{{ sidenav }}</div>
  </div>
</div>
